test/original/scenario_6.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scenario">
    <xs:annotation>
      <xs:documentation>Description of scenario</xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="demography" type="demography">
          <xs:annotation>
            <xs:documentation>
              Description of demography
            </xs:documentation>
            <xs:appinfo>units:List of elements;</xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="monitoring" type="monitoring">
          <xs:annotation>
            <xs:documentation>
              Description of surveys
            </xs:documentation>
            <xs:appinfo>units:List of elements;</xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="interventions" type="interventions">
          <xs:annotation>
            <xs:documentation>
              List of interventions
            </xs:documentation>
            <xs:appinfo>units:List of elements;</xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="caseManagements" type="caseManagements">
          <xs:annotation>
            <xs:documentation>
              List of case managment interventions
            </xs:documentation>
            <xs:appinfo>units:List of elements;</xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="healthSystem" type="healthSystem">
          <xs:annotation>
            <xs:documentation>
              Description of health system
            </xs:documentation>
            <xs:appinfo>units:List of elements;</xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="entoData" type="entoData">
          <xs:annotation>
            <xs:documentation>
              Description of entomological data
            </xs:documentation>
            <xs:appinfo>units:List of elements;</xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="parameters" type="parameters">
          <xs:annotation>
            <xs:documentation>
              Parameters for mathematical model
            </xs:documentation>
            <xs:appinfo>
              <xs:appinfo>
                units:List of elements;
              </xs:appinfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="schemaVersion" type="xs:int" use="required">
        <xs:annotation>
          <xs:documentation>
            Version of xml schema. If not equal to the current version
            an error is thrown. Use SchemaTranslator to update xml files.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="analysisNo" type="xs:int" use="required">
        <xs:annotation>
          <xs:documentation>
            Unique identifier of scenario
          </xs:documentation>
          <xs:appinfo>
            units:Number;min:1;max:100000000;
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="maximumAgeYrs" type="xs:double" use="required">
        <xs:annotation>
          <xs:documentation>
            Maximum age of simulated humans
          </xs:documentation>
          <xs:appinfo>units:Number;min:0;max:100;</xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="name" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
            Name of intervention
          </xs:documentation>
          <xs:appinfo>units:string;</xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="popSize" type="xs:int" use="required">
        <xs:annotation>
          <xs:documentation>Population size</xs:documentation>
          <xs:appinfo>
            units:Count;min:1;max:100000;
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="simulationDuration" type="xs:int" use="required">
        <xs:annotation>
          <xs:documentation>
            Duration of main simulation
          </xs:documentation>
          <xs:appinfo>
            units:Time steps;min:1;max:36500;
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="modelVersion" type="xs:int" use="required">
        <xs:annotation>
          <xs:documentation>Model Version</xs:documentation>
          <xs:appinfo>
            units:Code;min:0;max:100000000;
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="wuID" type="xs:int" use="required">
        <xs:annotation>
          <xs:documentation>
            Work unit ID. Only used to validate
            checkpointing, to prevent checkpoint cheats.
          </xs:documentation>
          <xs:appinfo>
            units:Number;min:1;max:100000000;
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="assimMode" use="required">
        <xs:annotation>
          <xs:documentation>
            Assimilator mode. Defines output of simulator as
            either complete (columns:
            time,agegroup,measure,value) or minimal (single
            column: value)
          </xs:documentation>
          <xs:appinfo>units:Code;</xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mode" use="required">
        <xs:annotation>
          <xs:documentation>Simulation mode</xs:documentation>
          <xs:appinfo>units:Code;</xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--Parameters-->
  <xs:complexType name="parameter">
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Name of parameter</xs:documentation>
        <xs:appinfo>units:string;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="number" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>
          Reference number of input parameter
        </xs:documentation>
        <xs:appinfo>units:Number;min:1;max:100;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>Parameter value</xs:documentation>
        <xs:appinfo>units:Number;min:0;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="include" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>
          True if parameter is to be sampled in optimization
          runs. Not used in simulator app.
        </xs:documentation>
        <xs:appinfo>units:Number;min:0;max:1;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="parameters">
    <xs:annotation>
      <xs:documentation>Parameter vector</xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="parameter" type="parameter" />
    </xs:sequence>
    <xs:attribute name="interval" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Simulation step</xs:documentation>
        <xs:appinfo>units:Days;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="iseed" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Seed for RNG</xs:documentation>
        <xs:appinfo>units:Number;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="delta" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          this no longer seems to be used
        </xs:documentation>
        <xs:appinfo>units:? Redundant;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="latentp" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>
          pre-erythrocytic latent period, in time steps
        </xs:documentation>
        <xs:appinfo>units:Time steps;min:0;max:20;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="inputValue">
    <xs:attribute name="value" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>TODO</xs:documentation>
        <xs:appinfo />
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <!--Demography-->
  <xs:complexType name="demography">
    <xs:annotation>
      <xs:documentation>
        Description of demography
      </xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ageGroup" type="ageGroupPerC">
        <xs:annotation>
          <xs:documentation>
            List of age groups included in demography
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of demography data
        </xs:documentation>
        <xs:appinfo>units:string;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="growthRate" type="xs:double" use="optional">
      <xs:annotation>
        <xs:documentation>
          Growth rate of human population.
        </xs:documentation>
        <xs:appinfo>units:Number;min:0;max:0</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <!--Entomology-->
  <xs:complexType name="EIRDaily">
    <xs:annotation>
      <xs:documentation>Value of daily EIR</xs:documentation>
      <xs:appinfo>units:Number;min:1;</xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="origin" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="anopheles">
    <xs:annotation>
      <xs:documentation />
      <xs:appinfo />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="eir">
        <xs:annotation>
          <xs:documentation>
            Description of entomological inoculation rate
          </xs:documentation>
          <xs:appinfo>units:Element;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="a0" type="xs:double" use="required" />
          <xs:attribute name="a1" type="xs:double" use="required" />
          <xs:attribute name="a2" type="xs:double" use="required" />
          <xs:attribute name="b1" type="xs:double" use="required" />
          <xs:attribute name="b2" type="xs:double" use="required" />
          <xs:attribute name="EIRRotateAngle" type="xs:double" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="mosq">
        <xs:annotation>
          <xs:documentation>Vector species</xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="mosqRestDuration" type="xs:int" use="required" />
          <xs:attribute name="extrinsicIncubationPeriod" type="xs:int" use="required" />
          <xs:attribute name="mosqSeekingDeathRate" type="xs:double" use="required" />
          <xs:attribute name="mosqSeekingDuration" type="xs:double" use="required" />
          <xs:attribute name="mosqEntoAvailability" type="xs:double" use="required" />
          <xs:attribute name="mosqProbBiting" type="xs:double" use="required" />
          <xs:attribute name="mosqProbFindRestSite" type="xs:double" use="required" />
          <xs:attribute name="mosqProbResting" type="xs:double" use="required" />
          <xs:attribute name="mosqProbOvipositing" type="xs:double" use="required" />
          <xs:attribute name="emergenceRateFilename" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation />
              <xs:appinfo />
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="nonHumanHosts" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Non human host parameters, per type of host (must match up with non-species-specific parameters).</xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="mosqEntoAvailability" type="xs:double" use="required" />
          <xs:attribute name="mosqProbBiting" type="xs:double" use="required" />
          <xs:attribute name="mosqProbFindRestSite" type="xs:double" use="required" />
          <xs:attribute name="mosqProbResting" type="xs:double" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="mosquito" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="entoData">
    <xs:annotation>
      <xs:documentation>
        Data for entomodel
      </xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="nonVector" type="nonVector" />
        <xs:element name="vector">
          <xs:annotation>
            <xs:documentation>Parameters for the vector transmission model.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="anopheles" type="anopheles" />
              <xs:element name="nonHumanHosts" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Populations of non-human hosts (must also have species-specific parameters).</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="optional" />
                  <xs:attribute name="populationSize" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of entomology data
        </xs:documentation>
        <xs:appinfo>units:string;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="nonVector">
    <xs:annotation>
      <xs:documentation>Parameters for the non-vector transmission model.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="EIRDaily" type="EIRDaily" />
    </xs:sequence>
    <xs:attribute name="eipDuration" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>
	  The duration of sporogony in days
	</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <!--Monitoring-->
  <xs:complexType name="monitoring">
    <xs:annotation>
      <xs:documentation>Description of surveys</xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surveys">
        <xs:annotation>
          <xs:documentation>
            List of survey times
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="surveyTime" type="xs:int">
              <xs:annotation>
                <xs:documentation>
                  Survey time
                </xs:documentation>
                <xs:appinfo>
                  units:Number;min:0;
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="detectionLimit" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>
                Detection limit for parasitemia
              </xs:documentation>
              <xs:appinfo>
                units:parasites/micolitre;min:0;max:1000;
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="summaryOption" type="xs:int" use="required">
            <xs:annotation>
              <xs:documentation>
                Requested output variables
              </xs:documentation>
              <xs:appinfo>units:Code;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="ageGroup" type="ageGroup">
        <xs:annotation>
          <xs:documentation>
            List of age groups included in demography or
            surveys
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of monitoring data
        </xs:documentation>
        <xs:appinfo>units:string;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <!-- ageGroup -->
  <xs:complexType name="ageGroup">
    <xs:annotation>
      <xs:documentation>
        List of age groups included in surveys
      </xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="group" type="groupBounds" />
    </xs:sequence>
    <xs:attribute name="lowerbound" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Lower bound of age group
        </xs:documentation>
        <xs:appinfo>units:Years;min:0;max:100;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="groupBounds">
    <xs:attribute name="upperbound" type="xs:double" use="required" />
  </xs:complexType>
  <!-- ageGroup -->
  <xs:complexType name="ageGroupPerC">
    <xs:annotation>
      <xs:documentation>
        List of age groups included in demography or surveys
      </xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="group" type="groupBoundsPerC" />
    </xs:sequence>
    <xs:attribute name="lowerbound" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Lower bound of age group
        </xs:documentation>
        <xs:appinfo>units:Years;min:0;max:100;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="groupBoundsPerC">
    <xs:attribute name="poppercent" type="xs:double" use="required" />
    <xs:attribute name="upperbound" type="xs:double" use="required" />
  </xs:complexType>
  <!--Interventions-->
  <xs:complexType name="interventions">
    <xs:annotation>
      <xs:documentation>List of interventions</xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="3" minOccurs="0" name="vaccineDescription" type="vaccineDescription" />
      <xs:element maxOccurs="1" minOccurs="0" name="iptiDescription" type="iptDescription" />
      <xs:element minOccurs="0" name="continuous" type="continuous">
        <xs:annotation>
          <xs:documentation />
          <xs:appinfo />
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="timed" type="timed">
        <xs:annotation>
          <xs:documentation>
            List of timed interventions
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of age specific intervention
        </xs:documentation>
        <xs:appinfo>units:string;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="continuous">
    <xs:annotation>
      <xs:documentation />
      <xs:appinfo />
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="vaccine" type="ageSpecific">
        <xs:annotation>
          <xs:documentation>
            List of age groups for vaccination
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ITN" type="ageSpecific">
        <xs:annotation>
          <xs:documentation>
            Description of ITN deployment in the community
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ipti" type="ageSpecific">
        <xs:annotation>
          <xs:documentation>
            List of age groups for IPTi distribution
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timed">
    <xs:annotation>
      <xs:documentation>
        List of timed interventions
      </xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="intervention" type="intervention" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IRS" />
  <xs:complexType name="mass">
    <xs:attribute name="maxAge" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Maximum age of eligible individuals
        </xs:documentation>
        <xs:appinfo>units:Years;min:0;max:100;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minAge" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Minimum age of eligible individuals
        </xs:documentation>
        <xs:appinfo>units:Years;min:0;max:100;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="coverage" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Coverage of intervention
        </xs:documentation>
        <xs:appinfo>units:Proportion;min:0;max:1;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ageSpecific">
    <xs:attribute name="targetAgeYrs" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Target age of intervention
        </xs:documentation>
        <xs:appinfo>units:Years;min:0;max:100;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="coverage" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Coverage of intervention
        </xs:documentation>
        <xs:appinfo>units:Proportion;min:0;max:1;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="intervention">
    <xs:sequence>
      <xs:element minOccurs="0" name="changeHS" type="healthSystem">
        <xs:annotation>
          <xs:documentation />
          <xs:appinfo />
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="changeEIR" type="nonVector">
        <xs:annotation>
          <xs:documentation />
          <xs:appinfo />
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MDA" type="mass">
        <xs:annotation>
          <xs:documentation>
            Description of mass drug deployment in the
            community
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IRS" type="IRS" />
      <xs:element minOccurs="0" name="vaccinate" type="mass">
        <xs:annotation>
          <xs:documentation>
            Description of vaccine deployment in the
            community
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ITN" type="mass">
        <xs:annotation>
          <xs:documentation>
            Description of ITN deployment in the community
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ipti" type="mass">
        <xs:annotation>
          <xs:documentation>
            List of age groups for IPTi distribution
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="time" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>
          Time step of intervention
        </xs:documentation>
        <xs:appinfo>units:Number;min:1;max:10000;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="vaccineDescription">
    <xs:sequence>
      <xs:element name="halfLifeYrs" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Half life of drug effect
          </xs:documentation>
          <xs:appinfo>units:Years;min:0;max:100;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="efficacyB" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Measure of variation in vaccine efficacy
          </xs:documentation>
          <xs:appinfo>
            units:Positive real;min:0.001;max:1.00E+06;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="initialEfficacy" type="inputValue" />
    </xs:sequence>
    <xs:attribute name="vaccineType" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Type of vaccine</xs:documentation>
        <xs:appinfo>units:Code;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="iptDescription">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="infGenotype">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Name of age specific intervention
              </xs:documentation>
              <xs:appinfo>units:string;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="freq" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation />
              <xs:appinfo />
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ACR" type="xs:double" use="required" />
          <xs:attribute name="proph" type="xs:int" use="required">
            <xs:annotation>
              <xs:documentation />
              <xs:appinfo />
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="tolPeriod" type="xs:int" use="required" />
          <xs:attribute name="atten" type="xs:int" use="required">
            <xs:annotation>
              <xs:documentation />
              <xs:appinfo />
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="iptiEffect" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation />
        <xs:appinfo />
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <!--HealthSystem-->
  <xs:complexType name="healthSystem">
    <xs:annotation>
      <xs:documentation>
        Description of health system
      </xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="drugRegimen">
        <xs:annotation>
          <xs:documentation>
            Description of drug regimen
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="firstLine" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Code for first line drug
              </xs:documentation>
              <xs:appinfo>units:Drug code;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="secondLine" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Code for second line drug
              </xs:documentation>
              <xs:appinfo>units:Drug code;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="inpatient" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Code for drug used for treating
                inpatients
              </xs:documentation>
              <xs:appinfo>units:Drug code;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="initialACR" type="treatmentDetails">
        <xs:annotation>
          <xs:documentation>
            Initial cure rate
          </xs:documentation>
          <xs:appinfo>
            units:Proportion;min:0;max:1;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="compliance" type="treatmentDetails">
        <xs:annotation>
          <xs:documentation>
            Adherence to treatment
          </xs:documentation>
          <xs:appinfo>
            units:Proportion;min:0;max:1;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="nonCompliersEffective" type="treatmentDetails">
        <xs:annotation>
          <xs:documentation>
            Effectiveness of treatment of non compliers
          </xs:documentation>
          <xs:appinfo>
            units:Proportion;min:0;max:1;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pSeekOfficialCareUncomplicated1" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Probability that a patient with newly incident
            uncomplicated disease seeks official care
          </xs:documentation>
          <xs:appinfo>
            units:Proportion;min:0;max:1;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pSelfTreatUncomplicated" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Probability that a patient with uncomplicated
            disease self-treats
          </xs:documentation>
          <xs:appinfo>
            units:Proportion;min:0;max:1;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pSeekOfficialCareUncomplicated2" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Probability that a patient with recurrence of
            uncomplicated disease seeks official care
          </xs:documentation>
          <xs:appinfo>
            units:Proportion;min:0;max:1;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pSeekOfficialCareSevere" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Probability that a patient with severe disease
            seeks official care
          </xs:documentation>
          <xs:appinfo>
            units:Proportion;min:0;max:1;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pSequelaeInpatient" type="byAgeItems">
        <xs:annotation>
          <xs:documentation>
            List of age specific probabilities of sequelae
            in inpatients
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CFR" type="ageGroups" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of health system
        </xs:documentation>
        <xs:appinfo>units:string;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="healthSystemMemory" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>
          Follow-up period during which a recurrence is
          considered to be a treatment failure
        </xs:documentation>
        <xs:appinfo>units:Time steps;min:1;max:100;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="treatmentDetails">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="CQ" type="inputValue">
        <xs:annotation>
          <xs:documentation>Chloroquine</xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SP" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Sulphadoxine-pyrimethamine
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AQ" type="inputValue">
        <xs:annotation>
          <xs:documentation>Amodiaquine</xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SPAQ" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Sulphadoxine-pyrimethamine/Amodiaquine
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ACT" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Artemisinine combination therapy
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="QN" type="inputValue">
        <xs:annotation>
          <xs:documentation>Quinine</xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="selfTreatment" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Probability of self-treatment
          </xs:documentation>
          <xs:appinfo>
            units:Proportion;min:0;max:1;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ageGroups">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="group">
        <xs:complexType>
          <xs:attribute name="cfr" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Case fatality rate</xs:documentation>
              <xs:appinfo>units:Proportion;min:0;max:1;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="lowerbound" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>
                Lower bound of age group
              </xs:documentation>
              <xs:appinfo>units:Years;min:0;max:100;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="byAgeItems">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="item">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="inputValue">
              <xs:attribute name="maxAgeYrs" type="xs:double" use="required">
                <xs:annotation>
                  <xs:documentation>
                    Upper bound of age group
                  </xs:documentation>
                  <xs:appinfo>
                    units:Years;min:0;max:100;
                  </xs:appinfo>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="caseType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="endPoint">
        <xs:complexType>
          <xs:attribute name="decision" type="xs:int" use="required">
            <xs:annotation>
              <xs:documentation>
                Foreign key reference to outcome node
              </xs:documentation>
              <xs:appinfo>
                constraints:in
                scenario.casemanagements.casemanagement.decision.id
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="p" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>
                Probability of outcome
              </xs:documentation>
              <xs:appinfo>
                units:Proportion;min:0;max:1;constraints:
                sum(p)=1
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="caseManagements">
    <xs:annotation>
      <xs:documentation>
        List of age-specific case managment descriptions
      </xs:documentation>
      <xs:appinfo>units:List of elements;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="caseManagement">
        <xs:annotation>
          <xs:documentation>
            Age-specific case management description,
            describes entry-points and decisions, with
            entry-point-specific decision probabilities
          </xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="uc1" type="caseType" />
            <xs:element name="uc2" type="caseType" />
            <xs:element name="sev" type="caseType" />
            <xs:element name="nmfP" type="caseType" />
            <xs:element name="nmfNP" type="caseType" />
            <xs:element name="decisions">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="decision">
                    <xs:annotation>
                      <xs:documentation>
                        describes treatment
                        decisions, a list of medicate descisions.
                      </xs:documentation>
                      <xs:appinfo>
                        units:List of elements;
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="medicate">
                          <xs:complexType>
                            <xs:attribute name="name" type="xs:string" use="required">
                              <xs:annotation>
                                <xs:documentation>
                                  Name
                                  of
                                  drug
                                  compound
                                </xs:documentation>
                                <xs:appinfo>
                                  units:string;
                                </xs:appinfo>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="qty" type="xs:int" use="required">
                              <xs:annotation>
                                <xs:documentation>Quantity of drug compound</xs:documentation>
                                <xs:appinfo>units:Number;</xs:appinfo>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="time" type="xs:int" use="required">
                              <xs:annotation>
                                <xs:documentation>
                                  Time
                                  step
                                  of
                                  intervention
                                </xs:documentation>
                                <xs:appinfo>
                                  units:Number;min:1;max:10000;
                                </xs:appinfo>
                              </xs:annotation>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="id" type="xs:int" use="required">
                        <xs:annotation>
                          <xs:documentation>Key of decision</xs:documentation>
                          <xs:appinfo>units:Number</xs:appinfo>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="minAgeYrs" type="xs:decimal" use="optional" />
          <xs:attribute name="maxAgeYrs" type="xs:decimal" use="required">
            <xs:annotation>
              <xs:documentation>
                Upper bound of age group
              </xs:documentation>
              <xs:appinfo>
                units:Years;min:0;max:100;
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of age specific intervention
        </xs:documentation>
        <xs:appinfo>units:string;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>