schema/demography.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- This file is part of OpenMalaria.
Copyright © 2005-2025 Swiss Tropical and Public Health Institute
Copyright © 2005-2015 Liverpool School Of Tropical Medicine
Copyright © 2020-2025 University of Basel
Copyright © 2025 The Kids Research Institute Australia
Licence: GNU General Public Licence version 2 or later (see COPYING) -->
<xs:schema targetNamespace="http://openmalaria.org/schema/scenario_48"
           xmlns:om="http://openmalaria.org/schema/scenario_48"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!---HumanPopulationStructure-->
  <xs:complexType name="Demography">
    <xs:sequence>
      <xs:element name="ageGroup" type="om:DemogAgeGroup">
        <xs:annotation>
          <xs:documentation>
            list of age groups included in demography
          </xs:documentation>
          <xs:appinfo>name:Age groups;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of demography data
        </xs:documentation>
        <xs:appinfo>name:Name of demography data;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="popSize" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Population size</xs:documentation>
        <xs:appinfo>units:Count;min:1;max:100000;name:Population size;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maximumAgeYrs" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Maximum age of simulated humans in years
        </xs:documentation>
        <xs:appinfo>units:Years;min:0;max:100;name:Maximum age of simulated humans;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <!-- ageGroup -->
  <xs:complexType name="DemogAgeGroup">
    <xs:annotation>
      <xs:documentation>
        list of age groups included in demography or surveys
      </xs:documentation>
      <xs:appinfo>name:list of age groups;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="group" type="om:DemogGroupBounds" />
    </xs:sequence>
    <xs:attribute name="lowerbound" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Lower bound of age group
        </xs:documentation>
        <xs:appinfo>units:Years;min:0;max:100;name:Lower bound of age group</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DemogGroupBounds">
    <xs:attribute name="poppercent" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Percentage of human population in age group
        </xs:documentation>
        <xs:appinfo>units:Percentage;min:0;max:100;name:Percentage in age group</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="upperbound" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Upper bound of age group
        </xs:documentation>
        <xs:appinfo>units:Years;min:0;max:100;name:Upper bound of age group</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
