schema/entomology.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Schema for OpenMalaria input documents
Copyright © 2005-2011 Swiss Tropical Institute and Liverpool School Of Tropical Medicine
Licence: GNU General Public Licence version 2 or later (see COPYING) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="entoData">
    <xs:sequence>
      <xs:choice>
        <xs:element name="nonVector" type="nonVector">
          <xs:annotation>
            <xs:documentation>
              Description of transmission setting for models without vector control interventions
              (included for backward compatibility)
            </xs:documentation>
            <xs:appinfo>units:List of elements;name:Transmission setting (vector control not enabled);</xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="vector">
          <xs:annotation>
            <xs:documentation>Parameters of the transmission model.</xs:documentation>
            <xs:appinfo>units:List of elements;name:Transmission setting (vector control enabled);</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="anopheles" type="anophelesParams" />
              <xs:element maxOccurs="unbounded" minOccurs="0" name="nonHumanHosts">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>Name of this species of non human hosts (must match up with those described per anopheles section) </xs:documentation>
                      <xs:appinfo>units:List of elements;name:Species of alternative host;</xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="number" type="xs:double" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of entomology data
        </xs:documentation>
        <xs:appinfo>units:string;name:Entomology dataset;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mode" use="required">
      <xs:annotation>
        <xs:documentation>
        Transmission simulation mode -- enter dynamic mode (4) or forced mode
        (2) at start of intervention period. Mode 3 (transient EIR from data
        provided as intervention) is set when intervention data is applied, and
        is no longer a valid value to specify here.
        </xs:documentation>
        <xs:appinfo>units:Code;name:Transmission simulation mode;</xs:appinfo>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:int">
          <xs:enumeration value="2" />
          <xs:enumeration value="4" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="annualEIR" type="xs:double" use="optional">
      <xs:annotation>
        <xs:documentation>
          If set, overrides the annual EIR by scaling it to this level.
          If ommitted, EIR levels are as specified elsewhere.
        </xs:documentation>
        <xs:appinfo>units:Infectious bites per adult per year;name:Override annual EIR;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="nonVector">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="EIRDaily" type="EIRDaily"/>
    </xs:sequence>
    <xs:attribute name="eipDuration" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>The duration of sporogony in days</xs:documentation>
        <xs:appinfo>name:Duration of sporogony (days);</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EIRDaily">
    <xs:annotation>
      <xs:documentation>
      In the non-vector model, EIR is input as a sequence of daily values.
      There must be at least a years' worth of entries (365), and if there
      are more, values are wrapped and averaged (i.e. value for first day
      of year is taken as the mean of values for days 0, 365+0, 2*365+0,
      etc.).
      </xs:documentation>
      <xs:appinfo>units:Infectious bites per adult per day;name:Daily Entomological Inoculation Rate;exposed:false;</xs:appinfo>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="origin" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
            </xs:documentation>
            <xs:appinfo>name:Time origin of EIR sequence;exposed:false;</xs:appinfo>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="anophelesParams">
    <xs:annotation>
      <xs:documentation>Description of input EIR for
       one specific vector species in terms of a Fourier approximation
       to the ln of the EIR during the burn in period</xs:documentation>
      <xs:appinfo>name:Description of input EIR for one vector;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="eir">
          <xs:annotation>
            <xs:documentation>
              Description of target entomological inoculation rate as a
              Fourier series. This is used to estimate a suitible vector
              emergence rate. The annual (target) EIR is thus the exponent
              of the fourier series with these parameters, with period
              scaled to 365 days.
            </xs:documentation>
            <xs:appinfo>units:Infectious bites per adult per day;name:Fourier approximation to pre-intervention EIR;</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="a0" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation>
                  a0 parameter of Fourier approximation to ln(EIR)
                </xs:documentation>
                <xs:appinfo>name:a0 parameter of Fourier approximation to ln(EIR);sweepable:true;</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="a1" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation>
                  a1 parameter of Fourier approximation to ln(EIR)
                </xs:documentation>
                <xs:appinfo>name:a1 parameter of Fourier approximation to ln(EIR);</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="b1" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation>
                  b1 parameter of Fourier approximation to ln(EIR)
                </xs:documentation>
                <xs:appinfo>name:b1 parameter of Fourier approximation to ln(EIR);</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="a2" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation>
                  a2 parameter of Fourier approximation to ln(EIR)
                </xs:documentation>
                <xs:appinfo>name:a2 parameter of Fourier approximation to ln(EIR);</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="b2" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation>
                  b2 parameter of Fourier approximation to ln(EIR)
                </xs:documentation>
                <xs:appinfo>name:b2 parameter of Fourier approximation to ln(EIR);</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="EIRRotateAngle" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation>
                  Rotation angle defining the origin of the Fourier approximation to ln (EIR)
                </xs:documentation>
                <xs:appinfo>units:radians;name:Rotation angle defining the origin of the Fourier approximation to ln (EIR);</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="monthlyEir">
          <xs:annotation>
            <xs:documentation>
              Description of target entomological inoculation rate as monthly
              values plus an annual override (monthly values are scaled to fit
              the annual EIR described). This is used to estimate a suitible vector
              emergence rate. The annual (target) EIR is derived from a Fourier
              series fit to these monthly values (used as a smoothing factor).
              List should contain twelve entries: January to December.
            </xs:documentation>
            <xs:appinfo>units:Infectious bites per adult per month;name:Monthly values for pre-intervention EIR;</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="12" maxOccurs="12" type="xs:double">
                <xs:annotation>
                  <xs:documentation>
                    Inoculations per person per month
                  </xs:documentation>
                  <xs:appinfo>units:Inoculations per person per month;name:Monthly pre-intervention EIR;</xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="annualEIR" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation>Scales the monthly values to give this annual innoculation rate.</xs:documentation>
                <xs:appinfo>units:Infectious bites per adult per year;name:Annual EIR;min:0;</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element name="mosq">
        <xs:annotation>
          <xs:documentation>Vector species</xs:documentation>
          <xs:appinfo>units:List of elements;name:Vector Species;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="mosqRestDuration" type="xs:int" use="required">
            <xs:annotation>
              <xs:documentation>name:Duration of the resting period of the vector (days);</xs:documentation>
              <xs:appinfo>name:Duration of the resting period of the vector (days);</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="extrinsicIncubationPeriod" type="xs:int" use="required">
            <xs:annotation>
              <xs:documentation>name:Extrinsic incubation period (days)</xs:documentation>
              <xs:appinfo>name:Extrinsic incubation period (days);</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqLaidEggsSameDayProportion" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Proportion of mosquitoes host seeking on same day as ovipositing</xs:documentation>
              <xs:appinfo>name:Proportion of mosquitoes host seeking on same day as ovipositing;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqSeekingDuration" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Duration of the host-seeking period of the vector (days)</xs:documentation>
              <xs:appinfo>name:Duration of the host-seeking period of the vector (days);</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqSurvivalFeedingCycleProbability" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Probability that the mosquito survives the feeding cycle</xs:documentation>
              <xs:appinfo>name:Probability that the mosquito survives the feeding cycle;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqProbBiting" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Probability that the mosquito succesfully bites chosen host</xs:documentation>
              <xs:appinfo>name:Probability that the mosquito succesfully bites chosen host;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqProbFindRestSite" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Probability that the mosquito escapes host and finds a resting place after biting</xs:documentation>
              <xs:appinfo>name:Probability that the mosquito escapes host and finds a resting place after biting;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqProbResting" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Probability of mosquito successfully resting after finding a resting site</xs:documentation>
              <xs:appinfo>name:Probability of mosquito successfully resting after finding a resting site;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqProbOvipositing" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Probability of a mosquito successfully laying eggs given that it has rested</xs:documentation>
              <xs:appinfo>name:Probability of a mosquito successfully laying eggs given that it has rested;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqHumanBloodIndex" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>The proportion of resting mosquitoes which fed on human blood during the last feed.</xs:documentation>
              <xs:appinfo>name:Human blood index;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="minInfectedThreshold" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>If less than this many mosquitoes remain infected, transmission is interrupted.</xs:documentation>
              <xs:appinfo>name:Min infected threshold;min:0;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="nonHumanHosts" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Non human host parameters, per type of host (must match up with non-species-specific parameters).</xs:documentation>
          <xs:appinfo>units:List of elements;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>Identifier for this category of non-human hosts</xs:documentation>
              <xs:appinfo>name:Identifier for this category of non-human hosts;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqRelativeEntoAvailability" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Relative availability of nonhuman hosts of type i (to other nonhuman hosts)</xs:documentation>
              <xs:appinfo>name:Relative availability of nonhuman hosts of type i (to other nonhuman hosts);</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqProbBiting" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Probability of mosquito successfully biting host</xs:documentation>
              <xs:appinfo>name:Probability of mosquito successfully biting host;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqProbFindRestSite" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Probability that the mosquito escapes host and finds a resting place after biting</xs:documentation>
              <xs:appinfo>name:Probability that the mosquito escapes host and finds a resting place after biting;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="mosqProbResting" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Probability of mosquito successfully resting after finding a resting site</xs:documentation>
              <xs:appinfo>name:Probability of mosquito successfully resting after finding a resting site;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="mosquito" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Identifier for this anopheles species</xs:documentation>
        <xs:appinfo>name:Identifier for this anopheles species;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="propInfected" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>Initial guess of the proportion of mosquitoes which are infected, o: O_v(t) = o*N_v(t). Only used as a starting value.</xs:documentation>
        <xs:appinfo>units:Proportion;min:0;max:1;name:Initial guess of proportion of mosquitoes infected (ρ_O);exposed:false;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="propInfectious" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>Initial guess of the proportion of mosquitoes which are infectious, s: S_v(t) = s*N_v(t). Used as a starting value and then fit.</xs:documentation>
        <xs:appinfo>units:Proportion;min:0;max:1;name:Initial guess of proportion of mosquitoes infectious (ρ_S);exposed:false;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>