schema/healthSystem.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Schema for OpenMalaria input documents
Copyright © 2005-2011 Swiss Tropical Institute and Liverpool School Of Tropical Medicine
Licence: GNU General Public Licence version 2 or later (see COPYING) -->
<!-- HealthSystem & Clinical data -->
<xs:schema targetNamespace="http://openmalaria.org/schema/scenario_32"
           xmlns:om="http://openmalaria.org/schema/scenario_32"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="util.xsd"/>
  
  <!-- root element for clinical data outside the healthSystem element -->
  <xs:complexType name="clinical">
    <xs:annotation>
      <xs:documentation>
        Description of clinical parameters that are related to the health-system description, but which contain data
        that cannot be changed as part of an intervention and that are not restricted to treatment.
      </xs:documentation>
      <xs:appinfo>type:list of elements;name:Description of clinical parameters;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NonMalariaFevers" minOccurs="0">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              Description of the incidence of non-malaria fever. Non-malaria fevers
              are only modelled if the NON_MALARIA_FEVERS option is used.
            </xs:documentation>
            <xs:appinfo>name:Non-malaria fevers;</xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="incidence" type="om:AgeGroupValues">
              <xs:annotation>
                <xs:documentation>
                  Probability that a non-malaria fever occurs given that no concurrent
                  malaria fever occurs.
                </xs:documentation>
                <xs:appinfo>name:P(NMF); type:double;units:Dimensionless;min:0.0;max:1.0;</xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="prNeedTreatmentNMF" type="om:AgeGroupValues" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Probability that a non-malarial fever requires treatment with
                  antibiotics (assuming fever is not induced by malaria, although
                  concurrent parasites may be present).
                </xs:documentation>
                <xs:appinfo>name:P(need treatment | NMF);type:double;units:Dimensionless;min:0;max:1;</xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="prNeedTreatmentMF" type="om:AgeGroupValues" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Probability that a malaria fever needs treatment with
                  antibiotics (assuming fever is induced by malaria, although
                  concurrent bacteria may be present).
                   
                  Meaning partially overlaps with separate model for comorbidity
                  given malaria.
                </xs:documentation>
                <xs:appinfo>name:P(need treatment | MF);type:double;units:Dimensionless;min:0;max:1;</xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="healthSystemMemory" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>
          Follow-up period during which a recurrence is
          considered to be a treatment failure
        </xs:documentation>
        <xs:appinfo>type: integer; units:Time steps;min:1;max:100;name:Follow-up period during which recurrence is treated as a failure;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <!-- the healthSystem element -->
  <xs:complexType name="healthSystem">
    <xs:annotation>
      <xs:documentation>
        Description of case management system, used to specify the initial model
        or a replacement (an intervention). Encompasses case management
        data and some other data required to derive case outcomes.
        
        Contains a sub-element describing the particular health-system in use.
        Health system data is here defined as data used to decide on a treatment
        strategy, given a case requiring treatment.
      </xs:documentation>
      <xs:appinfo>type: list of elements;name:Case management system;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="EventScheduler" type="om:HSEventScheduler" />
        <xs:element name="ImmediateOutcomes" type="om:HSImmediateOutcomes" />
      </xs:choice>
      <xs:element name="CFR" type="om:AgeGroupValues">
        <xs:annotation>
          <xs:documentation>
            Case fatality rate (probability of an inpatient fatality from a
            bout of severe malaria, per age-group).
          </xs:documentation>
          <xs:appinfo>type: list of elements;name:Case fatality rate for inpatients;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pSequelaeInpatient" type="om:AgeGroupValues">
        <xs:annotation>
          <xs:documentation>
            List of age-specific probabilities of sequelae in inpatients,
            during a severe bout of malaria.
          </xs:documentation>
          <xs:appinfo>type: list of elements;units:Dimensionless;name:Probabilities of sequelae in inpatients;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <!-- healthSystem: 5-day model -->
  <xs:complexType name="HSImmediateOutcomes">
    <xs:annotation>
      <xs:documentation>
        Description of "immediate outcomes" health system:
        Tediosi et al case management model (Case management as
        described in AJTMH 75 (suppl 2) pp90-103).
      </xs:documentation>
      <xs:appinfo>type: list of elements;name:Case Management (Tediosi et al);</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="drugRegimen">
        <xs:annotation>
          <xs:documentation>
            Description of drug regimen.
          </xs:documentation>
          <xs:appinfo>type: list of elements;name:Description of drug regimen;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="firstLine" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Code for first line drug
              </xs:documentation>
              <xs:appinfo>type:string;units:Drug code;name:First line drug;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="secondLine" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Code for second line drug
              </xs:documentation>
              <xs:appinfo>type:string;units:Drug code;name:Second line drug;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="inpatient" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Code for drug used for treating
                inpatients
              </xs:documentation>
              <xs:appinfo>type:string;units:Drug code;name:Drug use for treating inpatients;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="initialACR" type="om:treatmentDetails">
        <xs:annotation>
          <xs:documentation>
            Initial cure rate
          </xs:documentation>
          <xs:appinfo>
            type:double;units:Dimensionless;min:0.0;max:1.0;name:Initial cure rate;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="compliance" type="om:treatmentDetails">
        <xs:annotation>
          <xs:documentation>
            Adherence to treatment
          </xs:documentation>
          <xs:appinfo>type:double;units:Dimensionless;min:0.0;max:1.0;name:Adherence to treatment;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="nonCompliersEffective" type="om:treatmentDetails">
        <xs:annotation>
          <xs:documentation>
            Effectiveness of treatment for non-compliant patients
          </xs:documentation>
          <xs:appinfo>
            type:double;units:Dimensionless;min:0.0;max:1.0;name:Effectiveness of treatment in non-adherent patients;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="treatmentActions">
        <xs:complexType>
          <xs:all>
            <xs:element name="CQ" type="om:TreatmentOption" minOccurs="0"/>
            <xs:element name="SP" type="om:TreatmentOption" minOccurs="0"/>
            <xs:element name="AQ" type="om:TreatmentOption" minOccurs="0"/>
            <xs:element name="SPAQ" type="om:TreatmentOption" minOccurs="0"/>
            <xs:element name="ACT" type="om:TreatmentOption" minOccurs="0"/>
            <xs:element name="QN" type="om:TreatmentOption" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="pSeekOfficialCareUncomplicated1" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>
            Probability that a patient with newly incident
            uncomplicated disease seeks official care
          </xs:documentation>
          <xs:appinfo>
            type:double;units:Dimensionless;min:0.0;max:1.0;name:Probability that a patient with uncomplicated disease seeks official care immediately.
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pSelfTreatUncomplicated" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>
            Probability that a patient with uncomplicated
            disease will self-treat
          </xs:documentation>
          <xs:appinfo>
            type:double;units:Dimensionless;min:0.0;max:1.0;name:Probability that a patient with uncomplicated disease will self-treat.
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pSeekOfficialCareUncomplicated2" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>
            Probability that a patient with recurrence of
            uncomplicated disease seeks official care
          </xs:documentation>
          <xs:appinfo>
            type:double;units:Dimensionless;min:0.0;max:1.0;name:Probability that a recurring patient seeks official care;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pSeekOfficialCareSevere" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>
            Probability that a patient with severe disease
            obtains appropriate care
          </xs:documentation>
          <xs:appinfo>
            type:double;units:Dimensionless;min:0.0;max:1.0;name:Probability that a patient with severe disease obtains appropriate care;
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="primaquine" minOccurs="0">
        <xs:complexType>
          <xs:all>
            <xs:element name="pHumanCannotReceive" type="om:inputValue"/>
            <xs:element name="pUseUncomplicated" type="om:inputValue"/>
            <xs:element name="effectivenessOnUse" type="om:inputValue"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of health system
        </xs:documentation>
        <xs:appinfo>type:string;name:Case Management model;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="useDiagnosticUC" type="xs:boolean" default="false"/>
  </xs:complexType>
  <xs:complexType name="treatmentDetails">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="CQ" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>Chloroquine</xs:documentation>
          <xs:appinfo>type:list of elements;name:Chloroquine;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SP" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>
            Sulphadoxine-pyrimethamine
          </xs:documentation>
          <xs:appinfo>type:list of elements;name:Sulphadoxine-pyrimethamine;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AQ" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>Amodiaquine</xs:documentation>
          <xs:appinfo>type:list of elements;name:Amodiaquine</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SPAQ" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>
            Sulphadoxine-pyrimethamine/Amodiaquine
          </xs:documentation>
          <xs:appinfo>type:list of elements;name:Sulphadoxine-pyrimethamine/Amodiaquine;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ACT" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>
            Artemisinine combination therapy
          </xs:documentation>
          <xs:appinfo>type: list of elements; name: Artemisinine combination therapy</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="QN" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>Quinine</xs:documentation>
          <xs:appinfo>type:list of elements name:Quinine ;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="selfTreatment" type="om:inputValue">
        <xs:annotation>
          <xs:documentation>
            Probability of self-treatment
          </xs:documentation>
          <xs:appinfo>
            type:double;units:Dimensionless;min:0;max:1name:P(self-treat);
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <!-- healthSystem: 1-day model -->
  <xs:complexType name="HSEventScheduler">
    <xs:sequence>
      <xs:element name="uncomplicated"    type="om:DecisionTree"   />
      <xs:element name="complicated"      type="om:DecisionTree"   />
      <xs:element name="ClinicalOutcomes" type="om:ClinicalOutcomes"     />
      <xs:element name="NonMalariaFevers" type="om:HSESNMF" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClinicalOutcomes">
    <xs:annotation>
      <xs:documentation>
        Description of base parameters of the clinical model.
      </xs:documentation>
      <xs:appinfo>name:Clinical Outcomes;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="maxUCSeekingMemory" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Maximum number of timesteps (including first day of case) that an individual with an uncomplicated case of
            malaria will remember he/she was sick before resetting. 
          </xs:documentation>
          <xs:appinfo>type:integer;name:Max UC treatment-seeking memory;units:Days;min:0;max:unbounded</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="uncomplicatedCaseDuration" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Fixed length of an uncomplicated case of malarial or non-malarial
            sickness (from treatment seeking until return to life-as-usual).
            Usually 3.
          </xs:documentation>
          <xs:appinfo>type:integer;name:Uncomplicated case duration;units:Days;min:1;max:unbounded</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="complicatedCaseDuration" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Fixed length of a complicated or severe case of malaria
            (from treatment seeking until return to life-as-usual).
          </xs:documentation>
          <xs:appinfo>type:integer;name:Complicated case duration;units:Days;min:1;max:unbounded</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="complicatedRiskDuration" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Number of days for which humans are at risk of death during a severe
            or complicated case of malaria. Cannot be greater than the duration
            of a complicated case or less than 1 day.
          </xs:documentation>
          <xs:appinfo>type:integer;name:Complicated risk duration;units:Days;min:1;max:unbounded</xs:appinfo>
        </xs:annotation>
      </xs:element>
       <xs:element name="dailyPrImmUCTS" type="xs:double" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            It is sometimes desirable to model delays to treatment-seeking in
            uncomplicated cases. While treatment of drugs can be delayed within
            case management trees to provide a similar effect, this doesn't
            delay any of the decisions, including diagnostics using the current
            parasite density.
            
            Instead a list of dailyPrImmUCTS elements can be used, describing
            successive daily probabilities of treatment (sum must be 1). For
            example, with a list of two elements with values 0.8 and 0.2, for
            80% of UC cases the decision tree is evaluated immediately, and for
            20% of cases evaluation is delayed by one day.
            
            For no delay, use one element with a value of 1.
          </xs:documentation>
          <xs:appinfo>type:double;name:Daily probability of immediate treatment seeking for uncomplicated cases;units:Dimensionless;min:0.0;max:1.0</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HSESNMF">
    <xs:annotation>
      <xs:documentation>
        Description of non-malaria fever health-system modelling (treatment,
        outcomes and costing). Incidence is described by the 
        model->clinical->NonMalariaFevers element. Non-malaria fevers are only
        modelled if the NON_MALARIA_FEVERS option is used.
        
        As further explanation of the parameters below, we first take:
        β₀ = logit(P₀) - β₃·P(need),
        and then calculate the probability of antibiotic administration, P(AB),
        dependent on treatment seeking location.
        No seeking: P(AB) = 0
        Informal sector: logit(P(AB)) = β₀ + β₄
        Health facility: logit(P(AB)) = β₀ + β₁·I(neg) + β₂·I(pos) + β₃·I(need)
        (where I(X) is 1 when event X is true and 0 otherwise,
        logit(p)=log(p/(1-p)), event "need" is the event that death may occur
        without treatment, events "neg" and "pos" are the events that a malaria
        parasite diagnositic was used and indicated no parasites and parasites
        respectively).
      </xs:documentation>
      <xs:appinfo>name:Non-malaria fevers;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="prTreatment" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            Probability of a non-malaria fever being treated with an antibiotic
            given that no malaria diagnostic was used but independent of need.
            Symbol: P₀.
          </xs:documentation>
          <xs:appinfo>name:P(treatment|no diagnostic);units:Dimensionless;min:0.0;max:1.0;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="effectNegativeTest" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            The effect of a negative malaria diagnostic on the odds ratio of
            receiving antibiotics. Symbol: exp(β₁).
          </xs:documentation>
          <xs:appinfo>name:Effect of a negative test;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="effectPositiveTest" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            The effect of a positive malaria diagnostic on the odds ratio of
            receiving antibiotics. Symbol: exp(β₂).
          </xs:documentation>
          <xs:appinfo>name:Effect of a positive test;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="effectNeed" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            The effect of needing antibiotic treatment on the odds ratio of
            receiving antibiotics. Symbol: exp(β₃).
          </xs:documentation>
          <xs:appinfo>name:Effect of need;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="effectInformal" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            The effect of seeking treatment from an informal provider (i.e.
            a provider untrained in NMF diagnosis) on the odds ratio of
            receiving antibiotics. Symbol: exp(β₄)
          </xs:documentation>
          <xs:appinfo>type:double;name:Effect of informal provider;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CFR" type="om:AgeGroupValues">
        <xs:annotation>
          <xs:documentation>
            Base case fatality rate for non-malaria fevers (probability of
            death from a fever requiring antibiotic treatment given that no
            antibiotic treatment is received, per age-group).
          </xs:documentation>
          <xs:appinfo>name:Case fatality rate;units:Dimensionless;min:0.0;max:1.0;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="TreatmentEfficacy" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            Probability that treatment would prevent a death (i.e. CFR is
            multiplied by one minus this when treatment occurs).
          </xs:documentation>
          <xs:appinfo>type:double;units:Dimensionless;name:Treatment efficacy;min:0.0;max:1.0;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <!-- decision trees -->
  <xs:complexType name="DecisionTree">
    <xs:annotation>
      <xs:documentation>
        Describes how "decisions" are made, both probabilistically and
        deterministically, and what actions are carried out.
        
        Quantities may also be reported as a side effect of decisions made in
        the tree, for example the number of diagnostics used.
      </xs:documentation>
      <xs:appinfo>name:Decision tree;</xs:appinfo>
    </xs:annotation>
    <xs:choice>
      <!-- branching points -->
      <xs:element name="caseType" type="om:DTCaseType"/>
      <xs:element name="diagnostic" type="om:DTDiagnostic"/>
      <xs:element name="random" type="om:DTRandom"/>
      <!-- actions -->
      <xs:element name="noAction" type="om:DTNoAction"/>
      <xs:sequence>
        <xs:element name="treatPKPD" type="om:DTTreatPKPD" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          An optional piece of documentation attached to this node.
        </xs:documentation>
        <xs:appinfo>type:string;name:Name;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DTCaseType">
    <xs:annotation>
      <xs:documentation>
        A switch which choses a branch deterministically, based on whether the
        patient was treated recently (second line) or not (first line).
      </xs:documentation>
      <xs:appinfo>name:Switch (first/second line);</xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element name="firstLine" type="om:DecisionTree"/>
      <xs:element name="secondLine" type="om:DecisionTree"/>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          An optional piece of documentation attached to this node.
        </xs:documentation>
        <xs:appinfo>type:string;name:Name;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DTDiagnostic">
    <xs:annotation>
      <xs:documentation>
        A switch which choses a branch deterministically, based on the outcome
        of some type of diagnostic.
      </xs:documentation>
      <xs:appinfo>name:Switch (diagnostic);</xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element name="positive" type="om:DecisionTree"/>
      <xs:element name="negative" type="om:DecisionTree"/>
    </xs:all>
    <xs:attribute name="type" use="required">
      <xs:annotation>
        <xs:documentation>
          The type of diagnostic used. Supported: RDT, microscopy.
        </xs:documentation>
        <xs:appinfo>type:string;name:Type of diagnostic;</xs:appinfo>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="microscopy" />
          <xs:enumeration value="RDT" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          An optional piece of documentation attached to this node.
        </xs:documentation>
        <xs:appinfo>type:string;name:Name;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DTRandom">
    <xs:annotation>
      <xs:documentation>
        A switch which choses a branch randomly.
        
        Each branch must be listed with a probability; the sum of all these
        probabilities must equal 1.
      </xs:documentation>
      <xs:appinfo>name:Switch (probabilistic);</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="outcome" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="om:DecisionTree">
              <xs:attribute name="p" type="xs:double" use="required">
                <xs:annotation>
                  <xs:documentation>
                    Probability of selecting this outcome. The sum of
                    probabilities across all outcomes must be 1.
                  </xs:documentation>
                  <xs:appinfo>units:None;min:0;max:1;name:Probability;</xs:appinfo>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          An optional piece of documentation attached to this node.
        </xs:documentation>
        <xs:appinfo>type:string;name:Name;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
    <xs:complexType name="DTNoAction">
    <xs:annotation>
      <xs:documentation>
        An end node doing nothing. The point of this is to prevent trees from
        accidentally being left incomplete.
      </xs:documentation>
      <xs:appinfo>name:No action;</xs:appinfo>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          An optional piece of documentation attached to this node.
        </xs:documentation>
        <xs:appinfo>type:string;name:Name;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DTTreatPKPD">
    <xs:annotation>
      <xs:documentation>
        A command to administer drugs according to a given schedule and
        dosage table, optionally with a delay.
      </xs:documentation>
      <xs:appinfo>name:Treatment (PK/PD model);</xs:appinfo>
    </xs:annotation>
    <xs:attribute name="schedule" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The name of a schedule to use for treatment.
        </xs:documentation>
        <xs:appinfo>name:Name of treatment schedule;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dosage" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The name of a dosage table to use for treatment.
        </xs:documentation>
        <xs:appinfo>name:Name of dosage table;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="delay_h" type="xs:double" default="0">
      <xs:annotation>
        <xs:documentation>
          Optionally, this can be given to delay the start of treatment by a
          given number of hours. If not specified, treatment is not delayed. If
          a delay is given, all medications within the treatment schedule used
          are delayed by this number of hours.
        </xs:documentation>
        <xs:appinfo>name:Delay (hours);</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <!-- diagnostics and treatments -->
  <xs:complexType name="HSDiagnostic">
    <!-- Description of a generic parasitaemia diagnostic. -->
    <!-- Garki/non-Garki measurement biases are not taken into account by this
      code; the effect could be included via parameterisation or via adjusting
      input density. -->
    <xs:sequence>
      <xs:choice>
        <xs:element name="deterministic">
          <xs:annotation>
            <xs:documentation>
              Specify that an artificial deterministic test is used: drugs are
              administered if parasite density is at least the minimum given.
            </xs:documentation>
            <xs:appinfo>name:Deterministic detection</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="minDensity" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation>
                  The minimum density at which parasites can be detected. If 0,
                  the test outcome is always positive.
                </xs:documentation>
                <xs:appinfo>type:double;name:Minimum detectible density;units:parasites/microlitre;min:0;</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="stochastic">
          <xs:annotation>
            <xs:documentation>
              An improved model of detection which is non-deterministic, including
              false positive results as well as false negatives.
              
              The probability of a positive outcome is modelled as 1 + s×(x/(x+d) - 1)
              where x is the parasite density, d is the density at which the test outcome
              has a 50% chance of being positive, and s is the probability of a positive
              outcome given no parasites (the specificity).
              
              Some parameterisations:
              
              Microscopy sensitivity/specificity data in Africa;
              Source: expert opinion — Allan Schapira
                dens_50 = 20.0
                specificity = .75
              
              RDT sensitivity/specificity for Plasmodium falciparum in Africa
              Source: Murray et al (Clinical Microbiological Reviews, Jan. 2008)
                dens_50 = 50.0;
                specificity = .942;
            </xs:documentation>
            <xs:appinfo>name:Non-deterministic detection</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="dens_50" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation>
                  The density at which the test outcome has a 50% chance of being positive.
                </xs:documentation>
                <xs:appinfo>type:double;name:Density 50;units:parasites/microlitre;min:0;</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="specificity" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation>
                  The probability of a positive test outcome in the absense of parasites.
                </xs:documentation>
                <xs:appinfo>type:double;units:Dimensionless;name:Specificity;min:0;max:1;</xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!-- unused: we could use a list like this to describe all options
  <xs:complexType name="TreatmentDescriptions">
    <xs:annotation>
      <xs:documentation>
        This describes a set of different treatments.
        
        Currently it should contain descriptions of all 5-day timestep
        treatment actions but does not include PK/PD model treatments.
      </xs:documentation>
      <xs:appinfo>name:Description of treatments;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" maxOccurs="unbounded" type="om:TreatmentOption"/>
    </xs:sequence>
    </xs:complexType> -->
  <xs:complexType name="TreatmentOption">
    <xs:annotation>
      <xs:documentation>
        Describes the effects of the treatment, assuming this
        compliance/adherence/... option is selected. Effects are described
        in terms of a list of options, each of which acts independently but
        with all effects being activated simultaneously.
      </xs:documentation>
      <xs:appinfo>name:Group (for compliance/adherence/drug effect);</xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="om:TriggeredDeployments">
        <xs:sequence>
          <xs:element name="clearInfections" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                This clears infections according to several options: it can clear
                all blood stage infections, all liver stage infections or both, and
                it can act on multiple timesteps. To have a probability of no
                action add another treatment option (which does nothing) and set
                the probabilities of selection appropriately.
                
                This allows immediate (legacy) or delayed action, a prophylactic
                period, and selection of which stages are targeted. It is a simple
                model but appropriate enough for use with the five day timestep
                when assuming no resistance and that drug
                failure is mainly caused by bad drugs or compliance.
                
                The old treatment action for the five-day timestep model is
                essentially this, with immediateAction (timesteps=-1) and
                stage=both, except for the IPT model's SP action, which was more
                like with timesteps>1 and stage=blood.
              </xs:documentation>
              <xs:appinfo>name:Prophylactic treatment;</xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="timesteps" type="xs:int" use="required">
                <xs:annotation>
                  <xs:documentation>
                    The number of timesteps during which this action remains
                    in effect (e.g. 2 means clear infections during the next
                    two timestep updates). Full clearance of the targeted stages
                    occurs during this time.
                    
                    A special value of -1 means act immediately (retrospectively);
                    this the old behaviour. A value of 1 means act on the next
                    timestep only.
                    
                    Both of these can be thought of as a model for short-acting
                    effective drug treatment; the main differences are that the
                    latter means parasite densities will remain high from the point
                    of view of surveys and diagnostics (i.e. mass screen and treat)
                    used before the next timestep and that the latter will also
                    remove infections starting the next timestep. Arguably the
                    latter is a better model, but the differences are perhaps
                    small, excepting where immediate treatment of fevers (i.e.
                    through the health system) can hide high parasite densities
                    from reporting and mass-screen-and-treat diagnostics. For
                    use by interventions, the latter model has nicer behaviour in
                    that the order of deployment of multiple interventions
                    deployed at the same time does not matter, and that the former
                    model retrospectively treats infections which may already have
                    caused fever, thus may have a lower health impact than it
                    should.
                    
                    It is recommended to use the new model (value 1, or greater
                    than 1 if prophylactic effect is desired) unless wanting to
                    emulate the old behaviour.
                    
                    Values of 0 or less than -1 are not allowed.
                  </xs:documentation>
                  <xs:appinfo>name:Length of effect;units:Timesteps;min:-1;</xs:appinfo>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="stage" use="required">
                <xs:annotation>
                  <xs:documentation>
                    Controls whether liver-stage or blood-stage infections
                    are cleared, or both.
                    
                    Infections are considered liver-stage for one 5-day timestep,
                    blood-stage but pre-patent for some number of timesteps
                    (latentp - 1), then start the patent blood stage. If stage is
                    set to "liver", infections are only cleared during their first
                    timestep; if stage is set to "blood", infections are cleared
                    during pre-patent and patent blood stages; if stage is set to
                    "both" all infections are cleared.
                    
                    The old behaviour (oddly considering the drugs it is meant to
                    emulate) is to clear both stages, except for the IPT model of
                    SP action, which cleared only patent blood-stage infections.
                  </xs:documentation>
                  <xs:appinfo>name:Target stage;</xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="liver"/>
                    <xs:enumeration value="blood"/>
                    <xs:enumeration value="both"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              Describes what this compliance option represents (e.g.
              "good compliance", "poor compliance with good drugs", ...).
            </xs:documentation>
            <xs:appinfo>name:Name;</xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <!-- an identifier may be useful (see other comments, in particular in how
        this is used for MDA interventions)
        <xs:attribute name="id" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>
              A textual identifier for this treatment option.
            </xs:documentation>
            <xs:appinfo>name:Identifier;</xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        -->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
