schema/interventions.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Schema for OpenMalaria input documents
Copyright © 2005-2012 Swiss Tropical Institute and Liverpool School Of Tropical Medicine
Licence: GNU General Public Licence version 2 or later (see COPYING) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="healthSystem.xsd"/>
  <xs:include schemaLocation="entomology.xsd"/>
  <xs:include schemaLocation="util.xsd"/>
  <xs:complexType name="interventions">
    <xs:all>
      <xs:element minOccurs="0" name="changeHS">
        <xs:annotation>
          <xs:documentation>
            Changes to the health system
          </xs:documentation>
          <xs:appinfo>name:Change health system;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="timedDeployment" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="healthSystem">
                    <xs:annotation>
                      <xs:documentation>
                        A complete replacement health system. Replaces all previous properties.
                        (Health system can be replaced multiple times if necessary.)
                      </xs:documentation>
                      <xs:appinfo>name:Timed replacement;</xs:appinfo>
                    </xs:annotation>
                    <xs:attribute name="time" type="xs:int" use="required">
                      <xs:annotation>
                        <xs:documentation>
                          Time-step at which this replacement occurs, starting
                          from 0, the first intervention-period time-step.
                        </xs:documentation>
                        <xs:appinfo>type:integer;name:Time;units:time-steps;min:0;</xs:appinfo>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation>
                Name of intervention
              </xs:documentation>
              <xs:appinfo>type:string;name:Name of intervention;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="changeEIR">
        <xs:annotation>
          <xs:documentation>
            New description of transmission level for models not
            supporting vector control interventions. Use of this overrides
            previous transmission levels such that human infectiousness no
            longer has any feedback effect on transmission. Supplied EIR
            data must last until end of simulation.
          </xs:documentation>
          <xs:appinfo>name:Change transmission levels;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="timedDeployment" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="nonVector">
                    <xs:annotation>
                      <xs:documentation>
                        Replacement transmission levels. Disables feedback of
                        human infectiousness to mosquitoes on further mosquito
                        to human transmission. Must last until end of simulation.
                      </xs:documentation>
                      <xs:appinfo>name:Timed replacement;</xs:appinfo>
                    </xs:annotation>
                    <xs:attribute name="time" type="xs:int" use="required">
                      <xs:annotation>
                        <xs:documentation>
                          Time-step at which this replacement occurs, starting
                          from 0, the first intervention-period time-step.
                        </xs:documentation>
                        <xs:appinfo>type:integer;name:Time;units:time-steps;min:0;</xs:appinfo>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation>
                Name of intervention
              </xs:documentation>
              <xs:appinfo>type:string;name:Name of intervention;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="importedInfections">
        <xs:annotation>
          <xs:documentation>
            Models importation of P. falciparum infections directly into humans
            from an external source. This is infections, not inoculations or
            EIR being imported.
          </xs:documentation>
          <xs:appinfo>name:Imported infections;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="timed">
              <xs:annotation>
                <xs:documentation>
                  Rate of case importation, as a step function. Each value is
                  valid until replaced by the next value.
                </xs:documentation>
                <xs:appinfo>name:Rate of importation</xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="rate" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="inputValue">
                          <xs:annotation>
                            <xs:documentation>A time-rate pair.</xs:documentation>
                            <xs:appinfo>name:Rate;units:Imported cases per thousand people per year;</xs:appinfo>
                          </xs:annotation>
                          <xs:attribute name="time" type="xs:int" use="required">
                            <xs:annotation>
                              <xs:appinfo>name:Time;units:time-steps;min:0;</xs:appinfo>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="period" type="xs:int" default="0">
                  <xs:annotation>
                    <xs:documentation>
                      If period is 0 (or effectively infinite), the last specified
                      value remains indefinitely in effect, otherwise the times of
                      all values specified must be less than the period, and values
                      are repeated modulo period (timestep period+2 has same value
                      as timestep 2, etc.).
                    </xs:documentation>
                    <xs:appinfo>name:Period of repetition;units:time-steps;min:0</xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation>
                Name of intervention
              </xs:documentation>
              <xs:appinfo>type:string;name:Name of intervention;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="insertR_0Case">
        <xs:annotation>
          <xs:documentation>
            Used to simulate R_0. First, infections should be eliminated,
            immunity removed, and the population given an effective transmission-
            blocking vaccine (not done by this intervention). Then this
            intervention may be used to: pick one human, infect him, administer
            a fully effective Preerythrocytic vaccine and remove
            transmission-blocking vaccine effect on this human. Thus only this
            one human will be a source of infections in an unprotected population,
            and will not reinfected himself.
          </xs:documentation>
          <xs:appinfo>name:Insert R_0 case;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="timedDeployment" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:appinfo>name:Timed occurrence;</xs:appinfo>
                </xs:annotation>
                <xs:attribute name="time" type="xs:int" use="required">
                  <xs:annotation>
                    <xs:documentation>
                      Time-step at which this intervention occurs, starting
                      from 0, the first intervention-period time-step.
                    </xs:documentation>
                    <xs:appinfo>name:Time;units:time-steps;min:0;</xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation>
                Name of intervention
              </xs:documentation>
              <xs:appinfo>type:string;name:Name of intervention;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="uninfectVectors">
        <xs:annotation>
          <xs:documentation>
            Removes all infections from mosquitoes -- resulting in zero EIR to
            humans, until such time that mosquitoes are re-infected and become
            infectious. Only effectious in dynamic EIR mode (when changeEIR was
            not used).
            
            Hypothetical, but potentially useful to simulate a setting starting
            from no infections, but with enough mosquitoes to reach a set
            equilibrium of exposure.
          </xs:documentation>
          <xs:appinfo>units:List of elements;name:Uninfect vectors;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="timedDeployment" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:appinfo>name:Timed occurrence;</xs:appinfo>
                </xs:annotation>
                <xs:attribute name="time" type="xs:int" use="required">
                  <xs:annotation>
                    <xs:documentation>
                      Time-step at which this intervention occurs, starting
                      from 0, the first intervention-period time-step.
                    </xs:documentation>
                    <xs:appinfo>name:Time;units:time-steps;min:0;</xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation>
                Name of intervention
              </xs:documentation>
              <xs:appinfo>type:string;name:Name of intervention;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="vectorPop">
        <xs:annotation>
          <xs:documentation>A list of parameterisations of generic vector host-inspecific interventions.</xs:documentation>
          <xs:appinfo>name:Vector population intervention;units:List of elements;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <!-- Note: the ONLY reason for this list being wrapped with the
            extra "vectorPop" element is that XSD 1.0 only allows unrepeated
            elements in an "all" section or multiple in a "sequence" section.
            Using the latter would invalidate existing XMLs and cause excess.
            confusion. XSD 1.1 does not have this limitation but still has
            limited support. -->
            <xs:element minOccurs="1" maxOccurs="unbounded" name="intervention" type="VectorIntervention"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="human" type="HumanInterventions" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Encapsulates all interventions whose effects are specific to the
            human host: any interventions where target humans may be selected
            via population-coverage, age limits and cohort membership.
          </xs:documentation>
          <xs:appinfo>name:Human-specific interventions;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Name of set of interventions</xs:documentation>
        <xs:appinfo>type:string;name:Name of intervention set;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="HumanInterventions">
    <xs:sequence>
      <xs:element name="effect" minOccurs="0" maxOccurs="unbounded" type="HumanInterventionEffect">
        <xs:annotation>
          <xs:documentation>
            A description of an effect achieved by an intervention.
            (An intervention is described by a set of effects plus
            deployments.)
            
            Each effect describes one or more actions and how the effect of
            these actions decays.
            
            Where multiple interventions deploy the same effect (referenced by
            the same id), these are considered multiple deployments of the same
            thing and action is considered a booster dose in the case of
            vaccines, replacement of the previous net in the case of ITNs, etc.
            
            Where multiple effects of the same type (but with different ids)
            are deployed (whether within a single intervention or by multiple
            interventions), they act independently (e.g. two ITN effects
            deployed to a single host would act to reduce attractiveness or
            survival of mosquitoes biting that host twice).
          </xs:documentation>
          <xs:appinfo>name:Effect;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="intervention">
        <xs:annotation>
          <xs:documentation>
            This element describes an intervention: a set of effects and
            deployment (continuous or timed).
            
            All effects deployed by this intervention are deployed to the same
            sets of people (each timed or continuous deployment selects
            recipients then applies all intervention effects to these
            recipients).
          </xs:documentation>
          <xs:appinfo>name:Intervention;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="effect" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  A list of elements defining all effects an intervention has.
                </xs:documentation>
                <xs:appinfo>name:Effect;</xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="id" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation>
                      The identifier (short name) of an effect.
                    </xs:documentation>
                    <xs:appinfo>name:Identifier;</xs:appinfo>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="continuous" type="continuousList">
            <xs:annotation>
                <xs:documentation>List of ages at which deployment takes place
                (through EPI, post-natal and school-based programmes, etc.).
                
                Cohort restriction may be added as a property of the list of continuous deployments.
                </xs:documentation>
                <xs:appinfo>type:list of elements;name:Age-based (continuous) deployment;</xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="timed" type="massListWithCum">
              <xs:annotation>
                <xs:documentation>
                  List of timed deployments of the intervention (that is, of
                  deployment campaigns).
                  
                  Cumulative deployment mode can be specified for all deployments in a timed list.
                  To allow multiple cumulative deployment descriptions, the entire timed list
                  may be repeated.
                </xs:documentation>
                <xs:appinfo>name:Mass (timed) deployment;</xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation>Name of intervention</xs:documentation>
              <xs:appinfo>type:string;name:Intervention name;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HumanInterventionEffect">
    <xs:choice>
      <xs:element name="MDA">
        <xs:annotation>
          <xs:documentation>
            Description of a MDA/MSAT intervention (Mass Screen and Treat is
            just Mass Drug Administration with a diagnostic).
            
            This MDA/MSAT model allows a diagnostic and drug action modelled
            by direct clearance rates. For the 1-day timestep models, a more
            detailed model of drug action and more flexible model of deployment
            decisions are available; see MDA1D.
            
            With no diagnostic description this intervention behaves like MDA
            (no screening, just deliver drugs). A drug description is required.
          </xs:documentation>
          <xs:appinfo>name:Mass drug administration (simple);</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="diagnostic" type="HSDiagnostic" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Description of diagnostic used by mass treatment option
                  of five-day case management model — may be used to model
                  MDA without diagnostic or MSAT.
                  
                  The diagnostic is used on hosts selected by the coverage
                  parameters, and drugs are administered whenever the test
                  outcome is positive.
                </xs:documentation>
                <xs:appinfo>type:string; name:Diagnostic (5-day);</xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="drugEffect" type="DrugWithCompliance"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MDA1D">
        <xs:annotation>
          <xs:documentation>
            Description of a MDA/MSAT intervention (Mass Screen and Treat is
            just Mass Drug Administration with a diagnostic).
            
            This MDA/MSAT model piggy-backs the 1-day timestep case management
            and drug models, and thus is only available when using a 1-day
            timestep.
            
            Description of treatment type used by mass treatment option of
            one-day case management model. Can be used to describe
            one-size-fits-all mass drug dosing, age-based mass drug dosing and
            screen-and-treat. Number of treatments given can be reported by
            the nMDAs option.
          </xs:documentation>
          <xs:appinfo>name:Mass drug administration (with decision tree and drug PK/PD model);</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="HSESCaseManagement">
              <xs:attribute name="name" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation>Name of set of interventions</xs:documentation>
                  <xs:appinfo>type:string;name:Intervention;</xs:appinfo>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="PEV" type="vaccineDescription">
        <xs:annotation>
          <xs:documentation>
            Pre-erythrocytic vaccine (PEV): prevents a proportion of infections from commencing.
          </xs:documentation>
          <xs:appinfo>name:Vaccines;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BSV" type="vaccineDescription">
        <xs:annotation>
          <xs:documentation>
            Blood-stage vaccine (BSV): acts as a killing factor on blood-stage parasites
          </xs:documentation>
          <xs:appinfo>name:Vaccines;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="TBV" type="vaccineDescription">
        <xs:annotation>
          <xs:documentation>
            Transmission-blocking vaccine (TBV): one minus this scales the probability of transmission to mosquitoes
          </xs:documentation>
          <xs:appinfo>name:Vaccines;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="IPT" minOccurs="0" type="IPTDescription">
        <xs:annotation>
          <xs:documentation>
            Description of IPT interventions.
          </xs:documentation>
          <xs:appinfo>name:Intermittent preventative treatment;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ITN" minOccurs="0" type="ITNDescription">
        <xs:annotation>
          <xs:documentation>
            Description of bed-net interventions (ITNs, LLINs).
          </xs:documentation>
          <xs:appinfo>name:Bed nets;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="IRS" minOccurs="0" type="IRSDescription">
        <xs:annotation>
          <xs:documentation>
            Description of indoor residual spraying interventions.
          </xs:documentation>
          <xs:appinfo>name:Indoor residual spraying;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="GVI" minOccurs="0" type="GVIDescription">
        <xs:annotation>
          <xs:documentation>
            Low-level description of intervention effects on vectors (i.e.
            mosquitoes). Can be used to describe simple ITN or IRS
            interventions (though more complex models are available for these
            interventions) or other interventions such as mosquito repellant
            or ivermectin.
            
            Note that all actions of this intervention "effect" will decay
            according to a single decay function. If independant decay is
            wanted, separate "effect" elements can be used.
          </xs:documentation>
          <xs:appinfo>name:Generic vector intervention;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="cohort" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Recruitment of cohort as a pseudo-intervention.
          </xs:documentation>
          <xs:appinfo>name:Cohort recruitment;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="firstBoutOnly" type="xs:boolean" use="optional">
            <xs:annotation>
              <xs:documentation>
                If true, remove individuals from the cohort at the start of the first episode
                (start of a clinical bout) since they were recruited into the cohort.
                This is intended for cohort studies that intend to measure time to
                first episode, using active case detection.
                
                This does not prevent re-recruitment in the case that recruitment settings could
                conceivably recruit the same individual twice.
              </xs:documentation>
              <xs:appinfo>name:Time to first episode only;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="firstTreatmentOnly" type="xs:boolean" use="optional">
            <xs:annotation>
              <xs:documentation>
                If true, remove individuals from the cohort when they first seek
                treatment since they were recruited into the cohort. This is intended
                for cohort studies that intend to measure time to first episode,
                using passive case detection.
                
                This does not prevent re-recruitment in the case that recruitment settings could
                conceivably recruit the same individual twice.
              </xs:documentation>
              <xs:appinfo>name:Time to first treatment only;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="firstInfectionOnly" type="xs:boolean" use="optional">
            <xs:annotation>
              <xs:documentation>
                If true, remove individuals from the cohort at completion of the first
                survey in which they present with a patent infection since they were
                recruited into the cohort. This intended for cohort studies that
                intend to measure time to first infection, using active case detection.
                
                This does not prevent re-recruitment in the case that recruitment settings could
                conceivably recruit the same individual twice.
              </xs:documentation>
              <xs:appinfo>type:boolean;name:Time to first infection only;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="clearImmunity">
        <xs:annotation>
          <xs:documentation>
            Removes all exposure-related immunitsy gained over time by hosts
            without removing infections (or affecting the ability to gain
            immunity through exposure).
            
            Hypothetical, but potentially useful to simulate scenarios with
            unprotected humans.
          </xs:documentation>
          <xs:appinfo>name:Clear Immunity;</xs:appinfo>
        </xs:annotation>
        <xs:complexType/>
      </xs:element>
    </xs:choice>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          A short name or code identifying the intervention effect
          (used to refer to this effect when describing an intervention).
        </xs:documentation>
        <xs:appinfo>type:string;name:Effect ID;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          An informal name/description for the effect
        </xs:documentation>
        <xs:appinfo>type:string;name:Name of effect;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="VectorIntervention">
    <xs:annotation>
      <xs:documentation>
        An intervention which may have various effects on the vector populations as a whole. (Not host specific.)
        
        Multiple instances of this intervention class are allowed (multiple parameterisations, not just deployments).
        
        Each instance may have multiple deployments. In this case the effects of each instance
        are independent (effects are combined) but the effects of multiple deployments of a single
        instance are not independent (only the latest deployment has any effect).
      </xs:documentation>
      <xs:appinfo>units:List of elements;name:Vector population intervention;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="anopheles" maxOccurs="unbounded" type="VectorSpeciesIntervention"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="timed" type="timedBaseList">
        <xs:annotation>
          <xs:documentation>
            List of timed vector population intervention deployment
          </xs:documentation>
          <xs:appinfo>type:list of elements;name:Vector population intervention deployment;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of intervention (e.g. larviciding, sugar bait).
        </xs:documentation>
        <xs:appinfo>type:string;name:Name of intervention;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="timedBase">
    <xs:attribute name="time" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>
          Time-step at which this intervention occurs, starting
          from 0, the first intervention-period time-step.
        </xs:documentation>
        <xs:appinfo>name:Time;units:time-steps;min:0;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="mass">
    <xs:attribute name="time" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>
          Time-step at which this intervention occurs, starting
          from 0, the first intervention-period time-step.
        </xs:documentation>
        <xs:appinfo>name:Time;units:time-steps;min:0;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxAge" type="xs:double" default="100">
      <xs:annotation>
        <xs:documentation>
          Maximum age of eligible individuals (defaults to 100)
        </xs:documentation>
        <xs:appinfo>type:double;units:Years;min:0;max:100;name:Maximum age of eligible individuals;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minAge" type="xs:double" default="0">
      <xs:annotation>
        <xs:documentation>
          Minimum age of eligible individuals (defaults to 0)
        </xs:documentation>
        <xs:appinfo>type:double;units:Years;min:0;max:100;name:Minimum age of eligible individuals;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="coverage" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Coverage of intervention
        </xs:documentation>
        <xs:appinfo>units:dimensionless;min:0;max:1;name:Coverage;sweepable:true</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="continuousList">
    <xs:sequence>
      <xs:element name="restrictToCohort" type="RestrictToCohort" minOccurs="0"/>
      <xs:element name="additionalDeployments" type="additionalDeployments" minOccurs="0"/>
      <!-- Note: minimum is 1 to save an extra check in code. -->
      <xs:element name="deploy" type="continuousDeployment" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="continuousDeployment">
    <xs:attribute name="targetAgeYrs" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Target age of intervention
        </xs:documentation>
        <xs:appinfo>units:Years;min:0;max:100;name:Target age;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="coverage" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Coverage of intervention
        </xs:documentation>
        <xs:appinfo>units:dimensionless;min:0;max:1;name:Proportion covered;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="begin" type="xs:int" default="0">
      <xs:annotation>
        <xs:documentation>
          First timestep (from 0 at the beginning of the intervention period)
          this item is active. Defaults to 0.
        </xs:documentation>
        <xs:appinfo>units:Timesteps;min:0;max:2147483647;name:First timestep active;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="end" type="xs:int" default="2147483647">
      <xs:annotation>
        <xs:documentation>
          End of the period during which the intervention is active (to be
          exact, the first timestep of the intervention period at which the item
          becomes inactive). Defaults to 2147483647.
        </xs:documentation>
        <xs:appinfo>units:Timesteps;min:0;max:2147483647;name:End timestep;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="timedBaseList">
    <xs:sequence>
      <!-- Note: minimum is 1 to save an extra check in code. -->
      <xs:element name="deploy" type="timedBase" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="massListWithCum">
    <xs:sequence>
      <xs:element name="restrictToCohort" minOccurs="0" type="RestrictToCohort"/>
      <xs:element name="additionalDeployments" type="additionalDeployments" minOccurs="0"/>
      <xs:element name="cumulativeCoverage" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
          If this element is not specified, standard deployment occurs, where
          a portion of the population as given by the coverage property of this
          campaign is selected, and interventions are deployed to all of
          these people (regardless of previous coverage).
          
          If this attribute is specified, instead, the population is divided
          into two sets: those who have received a certain intervention effect
          recently, and those who have not. If the proportion of people in the
          first set is less than the desired coverage, then the proportion of
          people from the second set needed to increase total coverage to the
          desired coverage is calculated. This proportion is then used as the
          probablity of selection from the second set into a third set of
          people who then receive all interventions deployed by this campaign.
          
          Note that selection is stochastic so the final coverage level may not
          be exactly that desired. Note also that the effect used when
          selecting people need not actually be one of the effects deployed by
          this intervention, although that is the intended use case.
          </xs:documentation>
          <xs:appinfo>name:Cumulative coverage;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="effect" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                The identifier (short name) of the effect used when
                selecting people.
              </xs:documentation>
              <xs:appinfo>name:Effect identifier;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="maxAgeYears" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>
                The maximum age at which the effect used when selecting
                people is considered effective. Individuals are
                considered covered when they previously received the
                effect and the time since the last reception (in
                years) is strictly less than this age.
              </xs:documentation>
              <xs:appinfo>name:Maximum effective age of intervention;units:Years;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <!-- Note: minimum is 1 to save an extra check in code. -->
      <xs:element name="deploy" type="mass" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RestrictToCohort">
    <xs:annotation>
      <xs:documentation>
        If this element is specified, deployment is restricted to a
        specific cohort (specified via the "id" attribute); otherwise
        cohort membership has no effect on deployment.
      </xs:documentation>
      <xs:appinfo>name:Restrict to cohort;</xs:appinfo>
    </xs:annotation>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The identifier (short name) of the cohort (which is that of the
          effect used to select the cohort).
        </xs:documentation>
        <xs:appinfo>name:Identifier;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="vaccineDescription">
    <xs:annotation>
      <xs:documentation>Description of a vaccine's effect</xs:documentation>
      <xs:appinfo>name:Vaccine descriptions;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="decay" type="DecayFunction">
        <xs:annotation>
          <xs:documentation>
            Specification of decay of efficacy. Documentation: see DecayFunction type
            or http://code.google.com/p/openmalaria/wiki/ModelDecayFunctions
          </xs:documentation>
          <xs:appinfo>name:Decay of effect;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="efficacyB" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Measure of variation in vaccine efficacy: efficacy is sampled from
            a beta distribution with efficacyB its beta parameter and its alpha
            parameter fixed such that the mean is that given by initialEfficacy.
          </xs:documentation>
          <xs:appinfo>units:Positive real;min:0.001;max:1.00E+06;name:Variance parameter for vaccine efficacy;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="initialEfficacy" type="inputValue">
        <xs:annotation>
          <xs:documentation>
            Mean efficacy values before decay (see efficacyB and decay parameter
            descriptions for sampling and decay). The i-th value in this list
            is used for the efficacy of the vaccine after the i-th dose. Where
            more doses are given than there are values in this list, the last
            value is repeated.
          </xs:documentation>
          <xs:appinfo>units:dimensionless;min:0;max:1;name:Initial mean efficacy;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="additionalDeployments">
    <xs:annotation>
      <xs:documentation>
        Allows deployment of a "schedule", e.g. multiple vaccine or drug
        doses over a time period.
        
        If this option is not present, each &lt;deploy&gt; element causes a
        single deployment of the intervention's effects [to all selected
        hosts]. If this option is present, each &lt;delpoy&gt; element first
        causes a deployment for each host (as before), then marks the host
        as expecting additional deployments, as described here. Each
        additional deployment deploys the same effects as before, though note
        that other models may allow variation in what happens (e.g. vaccine
        models may be configured with efficacy depending on the total number
        of deployments to the host).
        
        Each deploy item in this list (of additional deployments) includes a
        timestep delay since when this "schedule" is activated (when a timed
        or continuous "deploy" element is deployed). This must be at least one
        and strictly greater than the previous item's timestep. Each item also
        includes a "dropOut" probability, which is the probability that the
        current and all future deployments from this list of additional
        deployments are cancelled (only for the specific host and starting
        deployment this list was applied; it does not prevent other
        "additional deployments" in the host).
        
        Note that this list describes _additional deployments_ and the full
        schedule effectively includes an item with "timestep 0" and
        "dropOut 0".
      </xs:documentation>
      <xs:appinfo>name:Schedule;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="deploy" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Description of a single deployment within a schedule. There must
            be at least one of these.
          </xs:documentation>
          <xs:appinfo>name:Deployment within a schedule;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="timestep" type="xs:int" use="required">
            <xs:annotation>
              <xs:documentation>
                The delay in time-steps between activation of the schedule (via
                a &lt;deploy&gt; element of the parent &lt;timed&gt; or
                &lt;continuous&gt; list) and deployment of this item in the
                schedule.
                
                Each item must have greater time-step than the previous item,
                and the first must be at least 1.
              </xs:documentation>
              <xs:appinfo>name:Delay since schedule activation;min:0;units:Time steps;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="dropOut" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>
                The probability that the recipient drops out of a schedule:
                for each human who is already targetted by a deployment
                schedule and has not already dropped-out, this is the
                probability that he/she will "drop out" and not receive the
                next or any future deployments within this schedule. Dropping
                out does not prevent the individual from receiving other
                deployments of the intervention in the future (from either the
                same or another timed or continuous deployment list), it simply
                un-enrolls him/her from the current list of additional
                deployments.
              </xs:documentation>
              <xs:appinfo>name:Chance of drop out;min:0;max:1;units:dimensionless;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IPTDescription">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="infGenotype">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Name of age specific intervention
              </xs:documentation>
              <xs:appinfo>type:string;name:Age specific intervention;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="freq" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>
                Frequency of parasite genotype as a proportion (total of all genotypes
                must add to 1).
              </xs:documentation>
              <xs:appinfo>units:dimensionless;min:0;max:1;name:Frequency;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ACR" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>
                Adequate clinical response (probability of effective cure)
              </xs:documentation>
              <xs:appinfo>units:dimensionless; min:0; max:1;name:ACR;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="proph" type="xs:int" use="required">
            <xs:annotation>
              <xs:documentation>
                Prophylactic period
              </xs:documentation>
              <xs:appinfo>units:time-step;name:Prophylactic period;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="tolPeriod" type="xs:int" use="required">
            <xs:annotation>
              <xs:documentation>
                Tolerance period
              </xs:documentation>
              <xs:appinfo>units:time steps;name:Tolerance period;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="atten" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>
                Attenuation factor (i.e. divisor for density during period of effect)
              </xs:documentation>
              <xs:appinfo>units:dimensionless;min:1;max:inf;name:Tolerance period;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="iptiEffect" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Description of ipti effect</xs:documentation>
        <xs:appinfo>type:list of elements;name:Description of ipti effect;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ITNDescription">
    <xs:annotation>
      <xs:appinfo>name:Description</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="usage" type="inputValue">
        <xs:annotation>
          <xs:documentation>
          Usage of nets by humans, from 0 to 1.
          
          At the moment this is constant across humans and deterministic:
          relative attractiveness and survival factors are
          base*(1-usage*propActing) + intervention_factor*usage*propActing.
          
          See also "propActing" (proportion of bits for which net acts).
        </xs:documentation>
          <xs:appinfo>units:dimensionless;min:0;max:1;name:Proportion of time nets are used by humans;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="holeRate" type="LognormalSample">
        <xs:annotation>
          <xs:documentation>
          The rate at which new holes are made in nets.
          
          nHoles(t) = nHoles(t-1) + X where X~Pois(R/T) where T is the number
          of time-steps per year. R is sampled from
          log-normal: R ~ log N( log(mean)-sigma²/2, sigma² ) and is covariant
          with ripRate and insecticideDecay. (To be exact, a single Gaussian
          sample is taken, adjusted for each sigma then exponentiated.)
        </xs:documentation>
          <xs:appinfo>units:Holes per annum;min:0;name:Rate at which holes are made;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ripRate" type="LognormalSample">
        <xs:annotation>
          <xs:documentation>
          Each existing hole has a probability of being ripped bigger according
          to a Poisson process with this rate as (only) parameter.
          
          New rips occur in a net at rate X~Pois(h×R/T) where h is the number
          of existing holes and T the number of time-steps per year. R is
          sampled from log-normal: R ~ log N( log(mean)-sigma²/2, sigma² )
          and is covariant with holeRate and insecticideDecay. (To be exact, a
          single Gaussian sample is taken, adjusted for the each and sigma
          then exponentiated.)
        </xs:documentation>
          <xs:appinfo>units:Rips per existing hole per annum;min:0;name:Rate at which holes are enlarged;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ripFactor" type="inputValue">
        <xs:annotation>
          <xs:documentation>
          This factor expresses how important rips are in increasing the hole.
          
          The hole index of a net is h + F×x where h and x are the total numbers
          of holes and rips respectively and F is the rip factor.
        </xs:documentation>
          <xs:appinfo>units:none;min:0;name:Rip factor;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="initialInsecticide" type="NormalSample">
        <xs:annotation>
          <xs:documentation>
          The insecticide concentration of new nets is Gaussian distributed with
          mean "mu" and a standard deviation "sigma". The standard deviation
          should be small relative to the mean to avoid negative initial
          concentration. Any negative values sampled are set to 0.
        </xs:documentation>
          <xs:appinfo>units:mg/m²;min:0;name:Initial insecticide;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="insecticideDecay" type="DecayFunction">
        <xs:annotation>
          <xs:documentation>
          Decay curve for insecticide content of nets. Documentation: see DecayFunction
          type or http://code.google.com/p/openmalaria/wiki/ModelDecayFunctions
          
          The distribution of decay rates over nets is covariant with the
          distribution of ripRate and holeRate over nets. This distribution is
          generated by taking one sample per net from a Gaussian distribution
          with mean 0 and standard deviation 1. For each variable, the sample
          is multiplied by the respective sigma and a constant added such that,
          once exponentiated, the mean of the variable over nets is 1. The
          variable is then exponentiated and multiplied by the required mean
          rate for the respective variable.
        </xs:documentation>
          <xs:appinfo>units:none;name:Decay of insecticide;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="attritionOfNets" type="DecayFunction">
        <xs:annotation>
          <xs:documentation>
          Specifies the rate at which nets are disposed of over time.
          Documentation: see DecayFunction type or
          http://code.google.com/p/openmalaria/wiki/ModelDecayFunctions
          
          In the current model, nets are disposed of randomly (no correlation
          with state of decay) such that the chance of each net surviving until
          age t is the value of this decay function at time t. Equivalently
          (where a large number of nets are distributed at the same time), the
          proportion of nets remaining in use should match this decay function
          over time.
        </xs:documentation>
          <xs:appinfo>units:dimensionless;name:Attrition of nets;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="anophelesParams" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:element name="deterrency" type="ITNDeterrency">
                <xs:annotation>
                  <xs:documentation>
                  Effect of net on attractiveness of humans to mosquitoes relative to
                  an unprotected adult human. Parameterisations should take into
                  account that mosquitoes do not always bite indoors.
                  
                  Attractiveness of the human is multiplied by
                  exp(log(H)×h + log(P)×p + log(I)×h×p
                  where H, P and I are the hole, insecticide and interaction factors
                  respectively, h=exp(-holeIndex×holeScalingFactor) and
                  p=1−exp(-insecticideContent×insecticideScalingFactor).
                  </xs:documentation>
                  <xs:appinfo>units:dimensionless;min:0;max:1;name:Relative attractiveness;</xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="twoStageDeterrency">
                <xs:annotation>
                  <xs:documentation>
                  Effect of net on attractiveness of humans to mosquitoes relative to
                  an unprotected adult human. Parameterisations should take into
                  account that mosquitoes do not always bite indoors.
                  
                  This deterrency model multiplies human attractiveness by
                  pEnt×pAtt divided by a base factor to normalise the output to
                  1 when there are no nets.
                  </xs:documentation>
                  <xs:appinfo>units:dimensionless;name:Relative attractiveness;</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element name="entering" type="IRSDeterrency">
                      <xs:annotation>
                        <xs:documentation>
                          pEnt represents the relative probability of entering due to
                          ITNs: pEnt = exp(log(P)×p) where P is the insecticide
                          factor and 
                          p=1−exp(-insecticideContent×insecticideScalingFactor).
                        </xs:documentation>
                        <xs:appinfo>units:dimensionless;name:RA (entering)</xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="attacking" type="ITNKillingEffect">
                      <xs:annotation>
                        <xs:documentation>
                          pAtt represents the relative probability of attacking a human
                          after entering a house due to ITNs (i.e. of feeding/dying vs.
                          flying off): pAtt = B + H×h + P×p + I×h×p
                          where B is the base (without net) probability; H, P and
                          I are the hole, insecticide and interaction factors
                          respectively, h=exp(-holeIndex×holeScalingFactor) and
                          p=1−exp(-insecticideContent×insecticideScalingFactor).
                        </xs:documentation>
                        <xs:appinfo>units:dimensionless;name:RA (attacking)</xs:appinfo>
                      </xs:annotation>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:element name="preprandialKillingEffect" type="ITNKillingEffect">
              <xs:annotation>
                <xs:documentation>
                Effect of net on survival mosquitoes as they seek to bite a human
                after choosing that human, relative to the same person not
                sleeping under a net. Parameterisations should take into
                account that mosquitoes do not always bite indoors.
                
                Killing proportion is calculated as K = B + H×h + P×p + I×h×p
                where B is the base (without net) probability of death,
                H, P and I are the hole, insecticide and interaction factors
                respectively, h=exp(-holeIndex×holeScalingFactor) and
                p=1−exp(-insecticideContent×insecticideScalingFactor).
                
                Survival of mosquitoes is adjusted via multiplication by (1−K) / (1−B).
                To keep this in the range [0,1], we require that B+H ≤ 1, B+P ≤ 1,
                B+H+P+I ≤ 1, H ≥ 0, P ≥ 0 and H+P+I ≥ 0.
                </xs:documentation>
                <xs:appinfo>units:dimensionless;min:0;max:1;name:Pre-prandial killing effect;</xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="postprandialKillingEffect" type="ITNKillingEffect">
              <xs:annotation>
                <xs:documentation>
                Effect of net on survival mosquitoes as they seek to escape from
                a human host and rest after a blood meal, relative to the same
                person not sleeping under a net. Parameterisations should take
                into account that mosquitoes do not always bite indoors.
                
                Killing proportion is calculated as K = B + H×h + P×p + I×h×p
                where B is the base (without net) probability of death,
                H, P and I are the hole, insecticide and interaction factors
                respectively, h=exp(-holeIndex×holeScalingFactor) and
                p=1−exp(-insecticideContent×insecticideScalingFactor).
                
                Survival of mosquitoes is adjusted via multiplication by (1−K) / (1−B).
                To keep this in the range [0,1], we require that B+H ≤ 1, B+P ≤ 1,
                B+H+P+I ≤ 1, H ≥ 0, P ≥ 0 and H+P+I ≥ 0.
                </xs:documentation>
                <xs:appinfo>units:dimensionless;min:0;max:1;name:Post-prandial killing effect;</xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="mosquito" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Name of the affected anopheles-mosquito species.
              </xs:documentation>
              <xs:appinfo>name:Mosquito species;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="propActive" type="xs:double" default="1">
            <xs:annotation>
              <xs:documentation>
              The proportion of bites, when nets are in use, for which the net
              has any action whatsoever on the mosquito.
              
              At the moment this is constant across humans and deterministic:
              relative attractiveness and survival factors are
              base*(1-usage*propActing) + intervention_factor*usage*propActing.
              
              See also "usage" (proportion of time nets are used by humans).
            </xs:documentation>
              <xs:appinfo>units:dimensionless;min:0;max:1;name:Proportion of bites for which net acts;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GVIDescription">
    <xs:sequence>
      <xs:element name="decay" type="DecayFunction">
        <xs:annotation>
          <xs:documentation>
            Description of decay of all intervention effects.
            Documentation: see DecayFunction type or
            http://code.google.com/p/openmalaria/wiki/ModelDecayFunctions
          </xs:documentation>
          <xs:appinfo>name:Decay;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="anophelesParams" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>name:Per-mosquito species parameters;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="deterrency" type="inputValue" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                Effect of IRS on attractiveness of humans to mosquitoes relative to
                an unprotected adult human. Parameterisations should take into
                account that mosquitoes do not always bite indoors.
                
                Attractiveness of the human is multiplied this factor times
                survival of effect.
                </xs:documentation>
                <xs:appinfo>units:dimensionless;min:0;max:1;name:Relative attractiveness</xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="preprandialKillingEffect" type="inputValue" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                Effect of IRS on survival mosquitoes as they seek to bite a human
                after choosing that human, relative to the same person not
                protected by IRS. Parameterisations should take into account
                that mosquitoes do not always bite indoors. This parameter has
                been added since some data shows IRS to have a preprandial
                killing effect.
                
                Killing proportion is this factor multiplied by survival of effect.
                </xs:documentation>
                <xs:appinfo>units:dimensionless;min:0;max:1;name:Pre-prandial killing effect</xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="postprandialKillingEffect" type="inputValue" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                Effect of IRS on survival mosquitoes as they seek to escape from
                a human host and rest after a blood meal, relative to the same
                person not protected by IRS. Parameterisations should take
                into account that mosquitoes do not always bite indoors.
                
                Killing proportion is this factor multiplied by survival of effect.
                </xs:documentation>
                <xs:appinfo>units:dimensionless;min:0;max:1;name:Post-prandial killing effect</xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="mosquito" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Name of the affected anopheles-mosquito species.
              </xs:documentation>
              <xs:appinfo>name:Mosquito species</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="propActive" type="xs:double" default="1">
            <xs:annotation>
              <xs:documentation>
              The proportion of bites for which the IRS
              has any action whatsoever on the mosquito.
              
              At the moment this is constant across humans and deterministic:
              relative attractiveness and survival factors are
              base*(1-propActing) + intervention_factor*propActing.
            </xs:documentation>
              <xs:appinfo>units:dimensionless;min:0;max:1;name:Proportion of bites for which IRS acts;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IRSDescription">
    <xs:annotation>
      <xs:documentation>
        Description of effect for the more complex and probably more realistic
        Briet model: IRS has three effects, whos strength is calculated as a
        function of surviving insecticide content.
      </xs:documentation>
      <xs:appinfo>name:Description (based on decay of insecticide);</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="initialInsecticide" type="NormalSample">
        <xs:annotation>
          <xs:documentation>
          The insecticide concentration of IRS (at time of spraying) is
          Gaussian distributed with mean "mu" and a standard deviation "sigma".
          The standard deviation should be small relative to the mean to avoid
          negative initial concentration. Any negative values sampled are set
          to 0.
        </xs:documentation>
          <xs:appinfo>units:μg/cm²;min:0;name:Initial insecticide</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="insecticideDecay" type="DecayFunction">
        <xs:annotation>
          <xs:documentation>
          Decay curve for insecticide content of IRS. Documentation: see DecayFunction
          type or http://code.google.com/p/openmalaria/wiki/ModelDecayFunctions
        </xs:documentation>
          <xs:appinfo>units:none;name:Decay of insecticide</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="anophelesParams" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>name:Per-mosquito species parameters;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="deterrency" type="IRSDeterrency">
              <xs:annotation>
                <xs:documentation>
                Effect of IRS on attractiveness of humans to mosquitoes relative to
                an unprotected adult human. Parameterisations should take into
                account that mosquitoes do not always bite indoors.
                
                Attractiveness of the human is multiplied by exp(P×log(p))
                where P is the insecticide factor,
                p=1−exp(-insecticideContent×insecticideScalingFactor).
                </xs:documentation>
                <xs:appinfo>units:dimensionless;min:0;max:1;name:Relative attractiveness</xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="preprandialKillingEffect" type="IRSKillingEffect">
              <xs:annotation>
                <xs:documentation>
                Effect of IRS on survival mosquitoes as they seek to bite a human
                after choosing that human, relative to the same person not
                protected by IRS. Parameterisations should take into account
                that mosquitoes do not always bite indoors. This parameter has
                been added since some data shows IRS to have a preprandial
                killing effect.
                
                Killing proportion is calculated as K = B + P×p where B is the
                base (without protection) probability of death, and P is the
                insecticide factor,
                p=1−exp(-insecticideContent×insecticideScalingFactor).
                
                Survival of mosquitoes is adjusted via multiplication by (1−K) / (1−B).
                To keep this in the range [0,1], we require that B+P ≤ 1 and P ≥ 0.
                </xs:documentation>
                <xs:appinfo>units:dimensionless;min:0;max:1;name:Pre-prandial killing effect</xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="postprandialKillingEffect" type="IRSKillingEffect">
              <xs:annotation>
                <xs:documentation>
                Effect of IRS on survival mosquitoes as they seek to escape from
                a human host and rest after a blood meal, relative to the same
                person not protected by IRS. Parameterisations should take
                into account that mosquitoes do not always bite indoors.
                
                Killing proportion is calculated as K = B + P×p where B is the
                base (without protection) probability of death, and P is the
                insecticide factor,
                p=1−exp(-insecticideContent×insecticideScalingFactor).
                
                Survival of mosquitoes is adjusted via multiplication by (1−K) / (1−B).
                To keep this in the range [0,1], we require that B+P ≤ 1 and P ≥ 0.
                </xs:documentation>
                <xs:appinfo>units:dimensionless;min:0;max:1;name:Post-prandial killing effect</xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="mosquito" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                Name of the affected anopheles-mosquito species.
              </xs:documentation>
              <xs:appinfo>type:string;name:Mosquito species</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="propActive" type="xs:double" default="1">
            <xs:annotation>
              <xs:documentation>
              The proportion of bites for which the IRS
              has any action whatsoever on the mosquito.
              
              At the moment this is constant across humans and deterministic:
              relative attractiveness and survival factors are
              base*(1-propActing) + intervention_factor*propActing.
            </xs:documentation>
              <xs:appinfo>type:double;units:dimensionless;min:0;max:1;name:Proportion of bites for which IRS acts;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IRSDeterrency">
    <xs:attribute name="insecticideFactor" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Value expected to be at least 0. Negative values are not
          necessarily invalid, but allow nets to increase transmission.
        </xs:documentation>
        <xs:appinfo>type:double;units:none;name:Insecticide factor;max:1</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="insecticideScalingFactor" type="xs:double" use="required">
      <xs:annotation>
        <xs:appinfo>type:double;units:none;name:Insecticide scaling factor;min:0</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IRSKillingEffect">
    <xs:complexContent>
      <xs:extension base="IRSDeterrency">
        <xs:attribute name="baseFactor" type="xs:double" use="required">
          <xs:annotation>
            <xs:appinfo>units:dimensionless;name:Probability of mosquito death without intervention</xs:appinfo>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ITNDeterrency">
    <xs:complexContent>
      <xs:extension base="IRSDeterrency">
        <xs:attribute name="holeFactor" type="xs:double" use="required">
          <xs:annotation>
            <xs:documentation>
              Value expected to be at least 0. Negative values are not
              necessarily invalid, but allow nets to increase transmission.
            </xs:documentation>
            <xs:appinfo>units:none;name:Hole factor;max:1</xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="interactionFactor" type="xs:double" use="required">
          <xs:annotation>
            <xs:documentation>
              holeFactor + insecticideFactor + interactionFactor must not be greater
              than 1, and is expected to be at least 0. A negative value is not
              necessarily invalid, but allows nets to increase transmission.
            </xs:documentation>
            <xs:appinfo>units:none;name:Interaction factor;max:1</xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="holeScalingFactor" type="xs:double" use="required">
          <xs:annotation>
            <xs:appinfo>units:none;name:Hole scaling factor;min:0</xs:appinfo>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ITNKillingEffect">
    <xs:complexContent>
      <xs:extension base="ITNDeterrency">
        <xs:attribute name="baseFactor" type="xs:double" use="required">
          <xs:annotation>
            <xs:appinfo>units:dimensionless;name:Probability of mosquito death without intervention</xs:appinfo>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VectorSpeciesIntervention">
    <xs:annotation>
      <xs:documentation>
        Descriptions of the effects of vector interventions with per-species effects.
      </xs:documentation>
      <xs:appinfo>units:dimensionless;min:0;max:1;name:Vector population intervention;</xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element name="seekingDeathRateIncrease" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Describe an effect on the increase in the death rate while host
            seeking (mu_vA) due to this intervention.
            
            Enter the rate increase (i.e. if rate increases to 120% of normal, give 0.2).
           </xs:documentation>
          <xs:appinfo>units:dimensionless;name:Proportional increase in deaths while host searching;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="decay" type="DecayFunction"/>
          </xs:sequence>
          <xs:attribute name="initial" type="xs:double" use="required">
            <xs:annotation>
              <xs:appinfo>units:dimensionless;min:0;max:inf;name:Initial proportion increase</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="probDeathOvipositing" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Describe an effect of increased mortality while ovipositing
            due to this intervention. Enter the probability of dying due to
            this intervention.
           </xs:documentation>
          <xs:appinfo>units:dimensionless;name:Proportion ovipositing mosquitoes killed;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="decay" type="DecayFunction"/>
          </xs:sequence>
          <xs:attribute name="initial" type="xs:double" use="required">
            <xs:annotation>
              <xs:appinfo>units:dimensionless;min:0;max:1;name:Initial probability of killing</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="emergenceReduction" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Describe an effect on emergence of pupa into adults: this value is the
            proportion of emerging pupa which are killed by this intervention.
            
            This can be used as a crude way of modelling larviciding.
           </xs:documentation>
          <xs:appinfo>units:dimensionless;name:Proportion of emerging pupa killed;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="decay" type="DecayFunction"/>
          </xs:sequence>
          <xs:attribute name="initial" type="xs:double" use="required">
            <xs:annotation>
              <xs:appinfo>units:dimensionless;min:0;max:1;name:Initial proportion reduction</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="mosquito" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of the species/subspecies/variant.
        </xs:documentation>
        <xs:appinfo>type:string;name:Species/subspecies/variant name</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
