schema/pharmacology.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Schema for OpenMalaria input documents
Copyright © 2005-2011 Swiss Tropical Institute and Liverpool School Of Tropical Medicine
Licence: GNU General Public Licence version 2 or later (see COPYING) -->
<!-- Drug parameters — PK, PD and resistance -->
<xs:schema targetNamespace="http://openmalaria.org/schema/scenario_33"
           xmlns:om="http://openmalaria.org/schema/scenario_33"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="util.xsd"/>
  <xs:complexType name="Pharmacology">
    <xs:annotation>
      <xs:documentation>
        A library of drug related data for the PK/PD model.
      </xs:documentation>
      <xs:appinfo>name:Pharmacology library;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="treatments">
        <xs:annotation>
          <xs:documentation>
            A library of drug deployment schedules and dosages.
          </xs:documentation>
          <xs:appinfo>name:Treatments library;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="schedule" type="om:PKPDSchedule" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="dosages" type="om:PKPDDosages" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="drugs">
        <xs:annotation>
          <xs:documentation>
            A library of drug PK/PD data.
          </xs:documentation>
          <xs:appinfo>name:Drug library;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="drug" type="om:PKPDDrug" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <!-- drug deployment params -->
  <!--TODO: how to handle IV doses?
   1) as now (caveats: qty is called mg but is actually mg/kg, a dosages table
    must be given for treatment but is not actually relevant)
   2) separate type of schedule
   3) direct administration (no schedule)
  -->
  <xs:complexType name="PKPDSchedule">
    <xs:annotation>
      <xs:documentation>
        A schedule for the administration of drugs in a course of treatment.
        
        Note that dose sizes are multiplied by some multiplier (see dosages)
        and the times of all doses may be delayed.
      </xs:documentation>
      <xs:appinfo>name:Schedule of doses taken as a course of treatment;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="medicate" type="om:PKPDMedication" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name for referring to this deployment schedule
        </xs:documentation>
        <xs:appinfo>name:Name;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PKPDMedication">
    <xs:attribute name="drug" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Abbreviated name of drug compound
        </xs:documentation>
        <xs:appinfo>name:drug;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mg" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          Quantity of drug compound in mg per *something*. A separate dosage
          table must be used when medicating, which may specify multipliers of
          this number based on patient age or weight.
        </xs:documentation>
        <xs:appinfo>units:mg per something;name:Drug dose (mg with multiplier);</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hour" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
        Number of hours past start of timestep this drug dose is administered
        at (first dose should be at hour 0).
      </xs:documentation>
        <xs:appinfo>units:Hours;min:0;name:Time of administration;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PKPDDosages">
    <xs:annotation>
      <xs:documentation>
        A table for selecting a dose size given an age.
        
        Categories must uniquely cover all ages from birth, with no upper
        bound. Categories must be listed in order of age, increasing; the first
        must have lower bound 0. Upper bounds are equal to the lower bound of
        the next category, (but are exclusive where lower bounds are
        inclusive); the last category has no upper bound.
      </xs:documentation>
      <xs:appinfo>name:Dosage table;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="age" type="om:PKPDDosageRange" maxOccurs="unbounded"/>
        <xs:element name="bodymass" type="om:PKPDDosageRange" maxOccurs="unbounded"/>
        <xs:element name="multiply" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              Multiply the dose by some quantity, such as patient weight.
            </xs:documentation>
            <xs:appinfo>name:Multiply dose;</xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="by" use="required">
              <xs:annotation>
                <xs:documentation>
                  Quantity to multiply the dose by. Only option is "kg"
                  (patient weight in kg).
                </xs:documentation>
                <xs:appinfo>name:By what?;</xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="kg"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name for referring to this dosage table
        </xs:documentation>
        <xs:appinfo>name:Name;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PKPDDosageRange">
    <xs:annotation>
      <xs:documentation>
        Gives a dose multiplier for an age or body mass range.
      </xs:documentation>
      <xs:appinfo>name:Age range;</xs:appinfo>
    </xs:annotation>
    <xs:attribute name="lowerbound" type="xs:double" use="required">
      <xs:annotation>
        <xs:appinfo>name:Lower bound (inclusive);min:0;units:years;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dose_mult" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>
          The dose size given in the schedule (in mg) is multiplied by
          this value for patients falling into this age range when this
          dosage table is used.
        </xs:documentation>
        <xs:appinfo>name:Dose multiplier;min:0;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <!-- drug intrinsic (PK/PD) params -->
  <xs:complexType name="PKPDDrug">
    <xs:annotation>
      <xs:documentation>
        A drug description with PK/PD parameters.
      </xs:documentation>
      <xs:appinfo>name:Drug parameters;</xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PD">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="phenotype" type="om:Phenotype" minOccurs="1" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  Pharmaco-Dynamic parameters for some resistance phenotype.
                  
                  To model resistance to this drug, describe multiple infection
                  phenotypes (with respect to these PD parameters) and list one
                  or more "restrict" elements for each phenotype.
                  
                  Loci are specified elsewhere. Multiple loci may influence the
                  action of a single drug and each locus may influence multiple
                  drugs.
                </xs:documentation>
                <xs:appinfo>name:PD parameters for some allele / resistance phenotype;</xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="locus" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation>
                Optional; if present specifies the locus corresponding to this
                drug's PD phenotypes: each phenotype must then match one of
                that locus's alleles. Otherwise the drug should specify only
                one phenotype.
                
                There is currently a one-to-many correspondance between loci
                and drugs.
              </xs:documentation>
              <xs:appinfo>name:Locus;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="PK">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="negligible_concentration" type="xs:double">
              <xs:annotation>
                <xs:documentation>
                    Concentration below which drug's effects are deemed negligible and can
                    be removed from simulation.
                  </xs:documentation>
                <xs:appinfo>units:mg/l;min:0;name:Drug concentration considered negligible;</xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:choice>
              <xs:element name="half_life" type="xs:double">
                <xs:annotation>
                  <xs:documentation>
                      Used to calculate elimination rate (which is: ln(2) / half_life).
                    </xs:documentation>
                  <xs:appinfo>units:days;min:0;name:drug half-life;</xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="k" type="om:LognormalSample">
                <xs:annotation>
                  <xs:documentation>
                      Elimination rate; can be specified directly instead of as
                      a half life. In this case it can also be sampled per-patient
                      (with sigma > 0).
                    </xs:documentation>
                  <xs:appinfo>units:day^-1;min:0;name:Elimination rate constant (k);</xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:choice>
            <xs:element name="vol_dist">
              <xs:annotation>
                <xs:documentation>
                    Volume of Distribution
                  </xs:documentation>
                <xs:appinfo>units:l/kg;min:0;name:Volume of Distribution (Vd);</xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:double">
                    <xs:attribute name="sigma" type="xs:double" default="0">
                      <xs:annotation>
                        <xs:documentation>
                          Distribution parameter describing per-human variation of
                          volume of distribution. If zero or not specified,
                          the parameter is not sampled. See documentation of
                          parent element.
                        </xs:documentation>
                        <xs:appinfo>name:Sigma parameter for per-human variation of Vd;</xs:appinfo>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="compartment2" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Optional element specifying conversion parameters to- and
                  from- a second compartment.
                </xs:documentation>
                <xs:appinfo>name:Second compartment parameters;</xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:all>
                  <xs:element name="k12" type="om:LognormalSample">
                    <xs:annotation>
                      <xs:documentation>
                          Absorbtion rate from the central compartment to
                          compartment 2. It is sampled per-patient when sigma &gt; 0.
                      </xs:documentation>
                      <xs:appinfo>units:day^-1;min:0;name:Absorbtion rate to compartment 2 (k12);</xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="k21" type="om:LognormalSample">
                    <xs:annotation>
                      <xs:documentation>
                          Absorbtion rate from compartment 2 to the central
                          compartment. It is sampled per-patient when sigma &gt; 0.
                      </xs:documentation>
                      <xs:appinfo>units:day^-1;min:0;name:Absorbtion rate from compartment 2 (k21);</xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="compartment3" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  Optional element specifying conversion parameters to- and
                  from- a third compartment.
                </xs:documentation>
                <xs:appinfo>name:Third compartment parameters;</xs:appinfo>
              </xs:annotation>
              <xs:complexType>
                <xs:all>
                  <xs:element name="k13" type="om:LognormalSample">
                    <xs:annotation>
                      <xs:documentation>
                          Absorbtion rate from the central compartment to
                          compartment 3. It is sampled per-patient when sigma &gt; 0.
                      </xs:documentation>
                      <xs:appinfo>units:day^-1;min:0;name:Absorbtion rate to compartment 3 (k13);</xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="k31" type="om:LognormalSample">
                    <xs:annotation>
                      <xs:documentation>
                          Absorbtion rate from compartment 3 to the central
                          compartment. It is sampled per-patient when sigma &gt; 0.
                      </xs:documentation>
                      <xs:appinfo>units:day^-1;min:0;name:Absorbtion rate from compartment 3 (k31);</xs:appinfo>
                    </xs:annotation>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="abbrev" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Phenotype">
    <xs:sequence>
      <xs:element name="restriction" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Specifies the mapping from genotype to phenotype. For each drug
            type, if only one phenotype is present, restrictions need not be
            specified, but otherwise restrictions must be specified.
            
            The set of loci affecting phenotypes of this drug's action must be
            fixed for any drug type. Each phenotype must list, for each of
            these loci, a restriction to one or more alleles under the locus.
          </xs:documentation>
          <xs:appinfo>name:Restrict phenotype applicability to certain alleles;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="onLocus" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                A locus under which only a restricted set of alleles map to
                this phenotype.
              </xs:documentation>
              <xs:appinfo>name:Locus relevant to the mapping of alleles to this phenotype;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="toAllele" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation>
                One allele of a locus upon which phenotype choice depends.
                If multiple alleles under this locus should map to the same
                phenotype, repeat the whole "restriction onLocus..." element.
              </xs:documentation>
              <xs:appinfo>name:Alleles mapping to this phenotype;</xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="max_killing_rate" type="xs:double">
        <xs:annotation>
          <xs:documentation>
              k1 — Maximal parasite killing rate.
            </xs:documentation>
          <xs:appinfo>units:1/days;min:0;name:Maximal parasite killing rate;</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="IC50">
        <xs:annotation>
          <xs:documentation>
            Half maximal effect concentration. If sigma &gt; 0, the IC50 is
            sampled for each infection from a log-normal distribution with mean
            of this value and the sigma value specified, i.e.
            X ~ log N( log(mean) - s^2 / 2, s^2 ) .
          </xs:documentation>
          <xs:appinfo>units:mg/l;min:0;name:IC50;</xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:double">
              <xs:attribute name="sigma" type="xs:double" default="0">
                <xs:annotation>
                  <xs:documentation>
                    Distribution parameter describing per-infection variation of
                    IC50. If zero or not specified, the IC50 is not sampled. See
                    documentation of parent element.
                  </xs:documentation>
                  <xs:appinfo>name:Sigma parameter for per-infection variation of IC50;</xs:appinfo>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="slope" type="xs:double">
        <xs:annotation>
          <xs:documentation>
              n — Slope of the concentration effect curve
            </xs:documentation>
          <xs:appinfo>units:dimensionless;name:Slope of effect curve;</xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Name of the phenotype; for documentation use only.
        </xs:documentation>
        <xs:appinfo>name:Name of phenotype;</xs:appinfo>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
